/*********** LANDERS *************/
/*===========================*/
/* V3.0 NEW EMAIL TEMPLATES  */
/*===========================*/
/* text-links on white background */
/* CTA button on white background */
/* text on the button */
/* header background */
body {
  background-color: #ffffff;
  color: #222222;
}
body .c-default {
  background-color: #ffffff;
  color: #222222;
}
body .c-default-mirror {
  background-color: #222222;
  color: #ffffff;
}
body .c-default-contrast {
  background-color: #ffffff;
  color: #000000;
}
body .c-default-desktop {
  background-color: #ffffff;
  color: #222222;
}
@media only screen and (max-width: 767px) {
  body .c-default-desktop {
    background: none;
  }
}
body .c-default-change-back {
  background-color: #e6e6e6;
}
body .c-default-change-back-min {
  background-color: #f2f2f2;
}
body .c-default-change-back-max {
  background-color: #cccccc;
}
body .c-default-change-back-ultra {
  background-color: #999999;
}
body header,
body .c-header {
  background-color: #ffffff;
  color: #000000;
}
body .c-background-transparent {
  background: transparent !important;
}
body .c-header-contrast,
body .c-footer-contrast {
  background-color: #e6e6e6;
  color: #000000;
}
body .c-header-change-back {
  background-color: #e6e6e6;
  color: #000000;
}
body .c-accent-background {
  background-color: #FA003F;
  color: #222222;
}
body .c-accent-background-change {
  background-color: #ff6189;
}
body .c-accent-background-change-max {
  background-color: #ff94af;
}
body .c-accent-on-back,
body .accent {
  color: #FA003F;
}
body .c-accent-on-front {
  color: #ff99b2;
}
body .c-accent-on-header {
  color: #FA003F;
}
body .c-accent-background-text {
  background-color: #FA003F;
  color: #ffffff;
}
body .c-accent-on-back-mirror {
  background-color: #FA003F;
  color: #ffffff;
}
body .c-accent-on-back-mirror-fade {
  background-color: #FA003F;
  background-color: rgba(250, 0, 62, 0.7);
  zoom: 1;
  color: #ffffff;
}
body .c-button-background-fade {
  background-color: #FA003F;
  background-color: rgba(250, 0, 62, 0.4);
  zoom: 1;
  color: #ffffff;
}
body .c-accent-on-dark {
  color: #ff91ac;
  text-shadow: 1px 1px 3px #000;
}
body .c-accent-as-background-front-white {
  background-color: #FA003F;
}
body .c-accent-fade {
  background-color: #FA003F;
  background-color: rgba(250, 0, 62, 0.6);
  zoom: 1;
  color: #ffffff;
}
body .c-background-fade {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.6);
  zoom: 1;
}
body .c-background-fade-min {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
  zoom: 1;
}
body .c-background-fade-max {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
  zoom: 1;
}
body .c-background-fade-mobile {
  background-color: #ffffff;
}
@media only screen and (max-width: 767px) {
  body .c-background-fade-mobile {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.8);
    zoom: 1;
  }
}
@media only screen and (max-width: 992px) {
  body .c-background-fade-tablet {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
    zoom: 1;
  }
}
@media only screen and (max-width: 767px) {
  body .c-background-only-mobile {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
    zoom: 1;
  }
}
body .c-background-fade-mirror {
  background-color: #222222;
  background-color: rgba(33, 33, 33, 0.6);
  zoom: 1;
  color: #ffffff;
}
body .c-background-fade-mirror-min {
  background-color: #222222;
  background-color: rgba(33, 33, 33, 0.9);
  zoom: 1;
  color: #ffffff;
}
body .c-accent-fade-mirror {
  background-color: #222222;
  background-color: rgba(33, 33, 33, 0.3);
  zoom: 1;
  color: #FA003F;
}
body .c-text {
  color: #222222;
}
body .c-text-accent {
  color: #FA003F;
}
body .c-text-fade {
  color: #6f6f6f;
}
body .c-text-mirror {
  color: #ffffff;
}
body .c-text-as-button {
  color: #FA003F;
}
body .button {
  background-color: #FA003F;
  color: #ffffff;
}
body .c-button-change-back {
  background-color: #ff2e63;
}
body .c-border {
  border-color: #FA003F;
}
body .c-border-as-back {
  border-color: #ffffff;
}
body .c-border-as-text {
  border-color: #222222;
}
body .c-border-as-header-text {
  border-color: #000000;
}
body .c-border-as-text-fade {
  border-color: #d4d4d4;
}
body .c-border-top-as-header {
  border-top-color: #e6e6e6 !important;
}
body .c-border-top-as-text {
  border-top-color: #222222 !important;
}
body .c-border-as-accent {
  border-color: #FA003F;
}
body .c-border-as-change-back {
  border-color: #e6e6e6;
}
body .c-outline-as-accent {
  outline-color: #FA003F;
}
body .c-stroke-as-accent {
  -webkit-text-stroke-color: #FA003F;
}
body .c-stroke-as-text {
  -webkit-text-stroke-color: #222222;
}
body .c-stroke-as-back {
  -webkit-text-stroke-color: #ffffff;
}
body .c-border-lighten {
  border-color: #ff4776;
}
body .c-border-darken {
  border-color: #ae002c;
}
body .c-border-as-button {
  border-color: #FA003F;
}
body .c-shadow-text-lock {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
body .c-shadow-as-back {
  color: #222222;
  text-shadow: 1px 1px 1px #ffffff;
}
body .c-shadow-as-front {
  color: #ffffff;
  text-shadow: 1px 1px 1px #222222;
}
body .c-accent-with-shadow {
  color: #FA003F;
  text-shadow: 1px 1px 1px #ffffff;
}
body .c-gradient {
  background: #ff94af;
  background: -moz-linear-gradient(top, #ff94af 0%, #FA003F 100%);
  background: -webkit-linear-gradient(top, #ff94af 0%, #FA003F 100%);
  background: linear-gradient(to bottom, #ff94af 0%, #FA003F 100%);
}
body .c-gradient-linear {
  background: #FA003F;
  background: -moz-linear-gradient(top, #FA003F 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #FA003F 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #FA003F 0%, #ffffff 100%);
}
body .c-gradient-linear-mirror {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #FA003F 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #FA003F 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #FA003F 100%);
}
body .c-gradient-linear-right {
  background: #FA003F;
  background: -moz-linear-gradient(right, #FA003F 0%, #FA003F 100%);
  background: -webkit-linear-gradient(right, #FA003F 0%, #FA003F 100%);
  background: linear-gradient(to right, #FA003F 0%, #FA003F 100%);
}
body .c-gradient-linear-left {
  background: #FA003F;
  background: -moz-linear-gradient(left, #FA003F 0%, #FA003F 100%);
  background: -webkit-linear-gradient(left, #FA003F 0%, #FA003F 100%);
  background: linear-gradient(to left, #FA003F 0%, #FA003F 100%);
}
body .c-gradient-diagonal {
  background: #FA003F;
  background: linear-gradient(-20deg, #FA003F 0%, transparent 100%);
}
body .c-gradient-button-diagonal {
  background: #FA003F;
  background: linear-gradient(-5deg, #FA003F 0%, #ff94af 100%);
  color: #313131;
}
body .c-gradient-arrow-diagonal {
  background: #FA003F;
  background: linear-gradient(-5deg, #FA003F 0%, #ff94af 100%);
  color: #313131;
  color: #ffffff;
}
body .c-link {
  color: #222222;
}
body .c-link:hover {
  color: #FA003F;
}
body #location-container ul li:hover {
  background-color: #e6e6e6;
}
body button,
body .email-button,
body .success-container {
  background-color: #FA003F;
  color: #ffffff;
}
body button.noaccent,
body .email-button.noaccent,
body .success-container.noaccent {
  background: #d60036;
}
body button:hover,
body .email-button:hover,
body .success-container:hover {
  background: #ff1f57;
  color: #ffffff;
}
body button.mirror,
body .email-button.mirror,
body .success-container.mirror {
  background: #ffffff;
  color: #FA003F;
}
body .confirm .cc-tickbox .cc-tickbox-label a {
  color: #222222;
}
body .cc-fix-link .confirm .cc-tickbox .cc-tickbox-label a {
  color: #ffffff;
}
body .cc-popup {
  background-color: #222222;
  background-color: rgba(33, 33, 33, 0.5);
  zoom: 1;
}
body .cc-popup .cc-popup-content {
  background-color: #e6e6e6;
  color: #222222 !important;
}
body .cc-popup .cc-popup-content h1,
body .cc-popup .cc-popup-content h2,
body .cc-popup .cc-popup-content p,
body .cc-popup .cc-popup-content a {
  color: #222222 !important;
}
body .cc-popup .cc-popup-content li:before {
  background-color: #111;
}
body .cc-popup .cc-popup-content .cc-popup-segments {
  background-color: #fff;
}
body .cc-popup .cc-popup-content .cc-popup-segments h1,
body .cc-popup .cc-popup-content .cc-popup-segments h2,
body .cc-popup .cc-popup-content .cc-popup-segments p,
body .cc-popup .cc-popup-content .cc-popup-segments a {
  color: #111 !important;
}
body .change-span span,
body .change-strong strong,
body .change-active .active,
body .accent-before p::before {
  color: #FA003F;
}
body .change-span-mirror span,
body .change-active-mirror .active,
body .change-hover .button-top:hover,
body .change-hover .button-side:hover {
  background-color: #FA003F;
  color: #ffffff;
}
body .change-span-on-front span {
  color: #ff99b2;
}
body .landing2.c-accent-background:before,
body .landing2.c-accent-background:after {
  border-left-color: #f50010;
}
body .landing11.profiles .profile::before {
  background-color: #e6e6e6;
}
body .landing21 .success .c-accent-on-back {
  color: #FA003F;
}
body .landing53 .success .c-accent-on-back {
  color: #222222;
  text-shadow: 1px 1px 1px #ffffff;
}
body .landing39.overlay {
  background: linear-gradient(to right, #222222 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 90%, #222222 100%);
}
body .landing43 .text::after {
  border-top-color: #e6e6e6 !important;
}
body .landing53.overlay {
  background: #FA003F;
  background: -moz-linear-gradient(top, #FA003F 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #FA003F 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #FA003F 0%, #ffffff 100%);
}
body .c-change-input-border select,
body .c-change-input-border input:not([type="checkbox"]) {
  color: #000000;
  border-color: #ff4776;
}
body .c-negation-background {
  background: #05ffc0;
  color: #000000;
}
body .c-negation-color {
  color: #05ffc0;
}
body .c-negation-border {
  border-color: #05ffc0;
}
body .landing75 .step {
  background: #ff94af;
  background: -moz-linear-gradient(top, #ff94af 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #ff94af 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #ff94af 0%, #ffffff 100%);
}
body .landing75 h1 {
  text-shadow: -4px -4px 0 #FA003F, 4px -4px 0 #FA003F, -4px 4px 0 #FA003F, 4px 4px 0 #FA003F;
}
body .landing76.background {
  background: linear-gradient(to right, #7a001f 0%, #FA003F 15%, #FA003F 85%, #7a001f 100%);
}
@media only screen and (max-width: 992px) {
  body .landing76.text {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
  }
}
body .landing77 input[type="radio"]:checked ~ label {
  border-color: #FA003F;
  background-color: #222222;
  color: #ffffff;
}
body .landing85::after {
  color: #FA003F;
}
body .landing90.arrow-container .before::before,
body .landing90.arrow-container .arrow::before,
body .landing90.arrow-container .before::after,
body .landing90.arrow-container .arrow::after {
  border-left-color: #FA003F;
}
body .change-formfields select,
body .change-formfields input:not([type="checkbox"]):not([type="radio"]),
body .change-formfields .input-city,
body .change-formfields input[type="radio"] + label {
  background-color: #e6e6e6;
  color: #6f6f6f;
}
body .change-formfields input[type="radio"]:checked + label {
  background-color: #FA003F;
  color: #ffffff;
}
body .change-formfields .label::after {
  color: #FA003F;
}
body .change-formfields-no-accent input[type="radio"]:checked + label {
  background-color: #cccccc;
}
body .formfields-as-default select,
body .formfields-as-default input:not([type="checkbox"]):not([type="radio"]),
body .formfields-as-default .input-city,
body .formfields-as-default input[type="radio"] + label {
  background-color: #ffffff;
  color: #222222;
}
body .landing97.overlay {
  background: #222222;
  background: -moz-linear-gradient(top, #222222 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #222222 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #222222 0%, #ffffff 100%);
}
body .bubble::before {
  border-bottom-color: #FA003F;
}
body .bubble::after {
  border-bottom-color: #ffffff;
}
body .bubble2 {
  border-color: #ffffff;
}
body .bubble2::before {
  border-top-color: #ffffff;
}
body .bubble2::after {
  border-top-color: #222222;
}
body .bubble3::before {
  border-right-color: #ffffff;
  border-top-color: #ffffff;
}
body .bubble3::after {
  border-left-color: #222222;
  border-top-color: #222222;
}
body .bubble4::after {
  border-right-color: #ffffff;
}
body .bubble4::before {
  border-left-color: #FA003F;
}
body .buzz::before {
  background-color: #FA003F;
}
body .landing1pre .content {
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, 1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
body .landing1pre .overlay.background-overlay-left {
  background: #ffffff;
  background: -moz-linear-gradient(right, #ffffff 0%, transparent 100%);
  background: -webkit-linear-gradient(right, #ffffff 0%, transparent 100%);
  background: linear-gradient(to right, #ffffff 0%, transparent 100%);
}
body .landing1pre .overlay.background-overlay-right {
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, transparent 100%);
  background: -webkit-linear-gradient(left, #ffffff 0%, transparent 100%);
  background: linear-gradient(to left, #ffffff 0%, transparent 100%);
}
body .prelanders .img-cnt .img {
  border-color: #FA003F;
}
body .prelanders .profile .img,
body .prelanders .checkmark::after {
  border-color: #ffffff;
}
body .prelanders .slope::before {
  border-right-color: #ffffff;
}
body .prelanders .slope::after {
  border-left-color: #ffffff;
}
body .confirm510 .check-container {
  background-color: #FA003F;
  background-color: rgba(250, 0, 62, 0.4);
  zoom: 1;
  color: #ffffff;
}
body .confirm514 h2 {
  background-color: #FA003F;
  color: #ffffff;
}
@keyframes c-fade-background {
  0% {
    transform: scale(1.2);
    line-height: 100vh;
    background-color: #ffffff;
    height: 100vh;
  }
  80% {
    transform: scale(1);
    line-height: 100vh;
    background-color: #ffffff;
    height: 100vh;
  }
  100% {
    transform: scale(1);
    line-height: 70px;
    background-color: #ffffff;
    height: 80px;
  }
}
