span.emoji {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 1em;
  height: 1em;
  background-size: 1em;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
span.emoji-sizer {
  line-height: 0.81em;
  font-size: 1em;
  margin: -3px 0;
}
span.emoji-outer {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  height: 1em;
  width: 1em;
}
span.emoji-inner {
  display: -moz-inline-box;
  display: inline-block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1;
}
img.emoji {
  width: 1em;
  height: 1em;
}
.message .emoji-native,
.message .emoji {
  line-height: 1;
  font-size: 1.5em;
}
.label .emoji-native,
.label .emoji {
  font-style: normal;
  font-size: 31px;
}
.cc-popup.cc-popup-hide-contents {
  background-color: #222222;
  background-color: rgba(33,33,33,0.4);
  zoom: 1;
}
.cc-popup .cc-popup-content p a {
  color: #FA003F;
}
.cc-popup-content {
  top: 40%;
  padding: 0 20px 20px;
  background: #fff;
  color: #222;
  background-color: #ffffff;
  background-color: rgba(255,255,255,0.7);
  zoom: 1;
  position: relative;
  top: 0vh;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
@media (max-width: 768px) {
  .cc-popup-content {
    top: 10vh;
  }
}
.cc-popup-content h1,
.cc-popup-content h2,
.cc-popup-content h3,
.cc-popup-content h4 {
  color: #222;
}
.cc-popup-content p {
  color: #222;
  font-size: 13px;
  line-height: 16px;
}
.cc-popup-content ul li {
  list-style-type: circle;
}
.cc-popup-content ul li:before {
  width: 0;
  height: 0;
}
.cc-popup-content .cc-popup-color-secondary,
.cc-popup-content a.cc-popup-color-secondary,
.cc-popup-content a.cc-popup-color-secondary:hover,
.cc-popup-content a.cc-popup-color-secondary:active,
.cc-popup-content a.cc-popup-color-secondary:visited {
  color: #FA003F;
  text-decoration: none;
}
.cc-popup-content a.cc-popup-color-secondary:hover {
  text-decoration: underline;
}
.cc-popup-header h1 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.cc-popup-header h1 .cc-popup-color-danger {
  font-weight: normal;
  color: #222;
  font-size: 28px;
}
.cc-popup-header p {
  text-align: left;
}
.cc-popup-segments,
.cc-no-foreword .cc-popup-segments {
  height: 119px;
  padding: 0 10px 0;
  line-height: 17px;
  margin-bottom: 10px;
  background: #fff;
  color: #222;
  background-color: #ffffff;
  background-color: rgba(255,255,255,0.6);
  zoom: 1;
}
.cc-popup-confirm-buttons button {
  float: left;
  transition: all .5s;
  cursor: pointer;
  -webkit-box-shadow: 8px 8px 8px rgba(255,255,255,0.1) inset, -8px -8px 8px rgba(0,0,0,0.2) inset;
  box-shadow: 8px 8px 8px rgba(255,255,255,0.1) inset, -8px -8px 8px rgba(0,0,0,0.2) inset;
  margin-top: 20px;
  margin-right: 6%;
  width: 47%;
  background-color: #FA003F;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 47px;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.cc-popup-confirm-buttons button:hover {
  background: #FA003F;
}
.cc-popup-confirm-buttons button:last-of-type {
  margin-right: 0;
  background: #999999;
  color: #dddddd;
}
.cc-popup-confirm-buttons button:last-of-type:hover {
  background: #808080;
}
@media (max-width: 768px) {
  .cc-popup-confirm-buttons button {
    font-size: 12px;
  }
  .cc-popup-confirm-buttons button {
    width: 100%;
  }
}
.cc-popup-banner .cc-popup-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #fff;
  border-bottom: 1px solid #222;
}
.cc-popup-banner .cc-popup-content h1 {
  color: #222;
}
.cc-popup-banner .cc-popup-content a {
  color: #FA003F !important;
}
.cc-popup-align-top .cc-popup-segments {
  height: 80px;
  font-size: 13px;
}
.cc-popup-align-top .cc-popup-confirm-buttons button {
  font-size: 20px;
  padding: 0 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.cc-popup .cc-popup-content {
  background-color: #fff;
  color: #222;
}
