@import css url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
@font-face {
  font-family: 'Conv_ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: local('☺'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: local('☺'), url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: local('☺'), url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_ProximaNova-Semibold';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: local('☺'), url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  color: #222222;
  cursor: default;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  font-family: 'Conv_ProximaNova-Regular', sans-serif;
}
strong {
  font-family: 'Conv_ProximaNova-Semibold', sans-serif;
}
html {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
form,
input {
  padding: 0;
  margin: 0;
  outline: none;
}
h2 {
  font-weight: normal;
  font-size: 27px;
  line-height: 36px;
  margin-bottom: 20px;
}
h3 {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
h4 {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #000000;
}
h5 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
h6 {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
img {
  border: none;
  max-width: 100%;
  vertical-align: top;
}
p {
  padding: 0;
  margin: 10px 0;
}
a {
  color: #FA003F;
  cursor: pointer;
  text-decoration: none;
}
select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
textarea,
.input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ffffff;
  border: solid 1px #cdcdcd;
  color: #353535;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Conv_ProximaNova-Regular', sans-serif;
  font-size: 14px;
  line-height: 20px;
  height: 38px;
  padding: 5px 12px;
  resize: none;
  width: 100%;
}
textarea {
  background: #ffffff;
  cursor: text;
}
.input:disabled,
input[disabled],
select[disabled] {
  background: #e6e6e6;
  color: #757575;
}
.error,
.success {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #cc2a2a;
  color: #ffffff;
  padding: 5px 10px;
  text-align: center;
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.success {
  background: #619a3c;
  color: #ffffff;
}
.columns {
  display: flex;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
  margin: 0;
}
.columns:nth-of-type(:last-child) {
  margin-bottom: calc(0.75rem);
}
.container {
  padding: 0;
  margin: 0 auto;
  width: 94%;
}
@media only screen and (min-width: 1025px) {
  .container {
    max-width: 1200px;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
}
.clearfix:after {
  clear: both;
}
.button {
  background-color: #FA003F;
  color: #ffffff;
  height: 40px;
  width: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 20px;
}
.button:hover {
  background: #ff2e63;
}
.is-hidden-mobile {
  display: none;
}
@media only screen and (min-width: 767px) {
  .is-hidden-mobile {
    display: block;
  }
}
.is-hidden-tablet-and-up {
  display: block;
}
@media only screen and (min-width: 767px) {
  .is-hidden-tablet-and-up {
    display: none;
  }
}
.footer-top {
  max-width: 100%;
  overflow: hidden;
  margin-bottom: -1px;
}
ul {
  margin: 0;
  padding: 0;
}
footer {
  background: #353B3C;
  color: #ffffff;
}
footer .link-block {
  padding: 15px 0;
}
footer .link-block ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
footer .link-block ul li {
  display: inline-block;
  margin: 5px 10px;
}
@media only screen and (min-width: 767px) {
  footer .link-block ul li {
    margin: 5px 20px;
  }
}
footer .link-block ul li a {
  font-size: 16px;
  color: #ffffff;
}
footer .copyright {
  text-align: center;
  border-top: solid 1px #ffffff;
  padding: 20px 0;
  font-size: 13px;
}
.footer-page {
  padding: 0;
  margin: 0 auto;
  width: 94%;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1025px) {
  .footer-page {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1025px) {
  .footer-page {
    max-width: 1200px;
  }
}
.footer-page .container p a {
  color: #222222;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.on-hold {
  color: transparent !important;
  pointer-events: none;
  position: relative;
}
.on-hold:after {
  -webkit-animation: spin .5s infinite linear;
  animation: spin .5s infinite linear;
  border: 2px solid #ffffff;
  border-radius: 30px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  width: 1em;
  left: calc(50% - 0.5em - 2px);
  top: calc(50% - 0.5em - 2px);
  position: absolute;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.emoji {
  position: relative;
}
.emoji i {
  pointer-events: none;
}
.emoticon-menu {
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  background: #ffffff;
  display: none;
  position: absolute;
  margin: 0;
  margin-top: .75rem;
  right: -1px;
  padding: 8px;
  width: 100%;
  z-index: 900;
  list-style: none;
  font-size: 24px;
}
.emoticon-menu li {
  display: inline-block;
}
.emoticon-menu li span {
  cursor: pointer;
}
.flirt-wrapper {
  position: relative;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .flirt-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 767px) {
  .flirt-wrapper .flirt-container {
    width: 90%;
  }
}
@media only screen and (min-width: 767px) {
  .flirt-wrapper .flirt-container {
    min-width: 290px;
  }
}
.flirt-wrapper .is-narrow {
  flex: none;
}
.flirt-wrapper .select-flirt {
  width: auto;
}
.flirt-wrapper .flirt-send-button {
  margin-left: 10px;
}
@media only screen and (max-width: 767px) {
  .flirt-wrapper .flirt-send-button {
    margin-left: 0;
  }
}
.flirt-button {
  border-top: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #f5f5f5;
  color: #000000;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  padding: 8px 30px 10px 60px;
  font-size: 16px;
  margin-bottom: 3px;
}
.flirt-button:hover {
  background: #d5d5d5;
}
.flirt-button .label {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #353B3C;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.flirt-button .fa-caret-down {
  position: absolute;
  top: 15px;
  right: 9px;
  pointer-events: none;
  display: block;
}
@media only screen and (max-width: 767px) {
  .flirt-button {
    margin: 10px 0;
  }
}
.flirt-button .label {
  background-color: #FA003F;
}
.flirt-button span,
.flirt-button i {
  pointer-events: none;
}
.flirt-button img.label {
  display: none;
}
.flirt-button.selection i.label {
  display: none;
}
.flirt-button.selection img.label {
  display: inline-block;
  background: transparent;
  padding: 6px;
}
.disabled-btn {
  pointer-events: none;
  background: #c70032;
}
.cc-tickbox-input {
  margin-right: 10px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ed1d4f;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
  margin: auto;
  text-align: center;
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.helpdesk-block {
  vertical-align: top;
  margin-top: 20px;
}
@media only screen and (min-width: 767px) {
  .helpdesk-block.left {
    width: 70%;
    display: inline-block;
  }
}
.helpdesk-block.left h1 {
  color: #353B3C;
}
.helpdesk-block.right {
  display: inline-block;
}
@media only screen and (min-width: 767px) {
  .helpdesk-block.right {
    width: 20%;
    margin-left: 5%;
  }
}
.profiles {
  width: 100%;
}
.profiles .profile {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (max-width: 767px) {
  .profiles .profile {
    width: calc(50%  -  4px);
    padding: 1%;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 767px) {
  .profiles .profile {
    width: calc(25%  -  6px);
    padding: 1%;
  }
}
@media only screen and (min-width: 1025px) {
  .profiles .profile {
    width: calc(25%  -  6px);
    padding: 1%;
  }
}
@media only screen and (min-width: 1281px) {
  .profiles .profile {
    width: calc(25%  -  6px);
    padding: 1%;
  }
}
.profiles .profile .profile-photo {
  width: 100%;
}
.profiles .profile img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-top: solid 2px #cccccc;
  border-right: solid 2px #cccccc;
  border-bottom: solid 2px #cccccc;
  border-left: solid 2px #cccccc;
  width: 100%;
}
.profiles .profile img:hover {
  border: solid 4px #FA003F;
}
.profiles .profile .text {
  color: #222222;
  line-height: 24px;
}
.profiles .profile .text h3 {
  color: #FA003F;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .profiles .profile .text h3 {
    font-size: 18px;
  }
}
.profiles .profile .onlinefalse {
  opacity: 0;
}
.profiles .profile .onlinetrue {
  color: #51aa01;
  font-size: 13px;
}
.splash-header-wrapper {
  border-bottom: 6px solid #353B3C;
}
@media only screen and (max-width: 767px) {
  .splash-header-wrapper {
    padding-bottom: 0;
    position: relative;
  }
}
.splash-header-wrapper .overlay {
  max-width: 100%;
  overflow: hidden;
  margin-bottom: -1px;
}
.header {
  background-color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .header {
    min-height: 0;
    height: auto;
  }
}
.header .navbar {
  padding: 0;
  margin: 0 auto;
  width: 94%;
  align-items: stretch;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: stretch;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
}
@media only screen and (min-width: 1025px) {
  .header .navbar {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1025px) {
  .header .navbar {
    max-width: 1200px;
  }
}
@media only screen and (max-width: 767px) {
  .header .navbar {
    display: block;
  }
}
.header .navbar .navbar-section {
  width: auto;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .header .navbar .navbar-section {
    justify-content: space-between;
  }
}
.header .navbar .navbar-section .logo {
  display: none;
}
@media only screen and (min-width: 767px) {
  .header .navbar .navbar-section .logo {
    display: block;
  }
}
.header .navbar .navbar-section .logo img {
  margin: 0 auto;
  height: 65px;
}
.header .navbar .navbar-section .mobile-login-wrapper {
  display: block;
  width: 100%;
}
@media only screen and (min-width: 767px) {
  .header .navbar .navbar-section .mobile-login-wrapper {
    display: none;
  }
}
.header .navbar .navbar-section .mobile-login-wrapper .mobile-logo {
  text-align: center;
  margin-bottom: 20px;
}
.header .navbar .navbar-section .mobile-login-wrapper .mobile-logo img {
  height: 50px;
}
.header .navbar .navbar-section .mobile-login-wrapper .mobile-login {
  text-align: center;
}
.header .navbar .navbar-section .mobile-login-wrapper .mobile-login .login-btn,
.header .navbar .navbar-section .mobile-login-wrapper .mobile-login .register-btn {
  background-color: #FA003F;
  color: #ffffff;
  height: 40px;
  width: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 20px;
}
.header .navbar .navbar-section .mobile-login-wrapper .mobile-login .login-btn:hover,
.header .navbar .navbar-section .mobile-login-wrapper .mobile-login .register-btn:hover {
  background: #ff2e63;
}
.header .navbar .navbar-section .navbar-login {
  display: none;
  min-width: 460px;
}
@media only screen and (min-width: 767px) {
  .header .navbar .navbar-section .navbar-login {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .header .navbar .navbar-section .navbar-login {
    min-width: auto;
    width: 100%;
    margin-top: 10px;
  }
}
.header .navbar .navbar-section .navbar-login .login-container {
  float: right;
}
@media only screen and (max-width: 767px) {
  .header .navbar .navbar-section .navbar-login .login-container {
    float: none;
  }
}
.header .navbar .navbar-section .navbar-login .login {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .header .navbar .navbar-section .navbar-login .login {
    width: auto;
    margin-bottom: 10px;
  }
}
.header .navbar .navbar-section .navbar-login .login .login-button {
  background-color: #FA003F;
  color: #ffffff;
  height: 30px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 20px;
}
.header .navbar .navbar-section .navbar-login .login .login-button:hover {
  background: #ff2e63;
}
.header .navbar .navbar-section .navbar-login .login-form {
  display: flex;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
  margin: 0;
  margin-top: 20px;
}
.header .navbar .navbar-section .navbar-login .login-form:nth-of-type(:last-child) {
  margin-bottom: calc(0.75rem);
}
.header .navbar .navbar-section .navbar-login .login-form:nth-of-type(:last-child) {
  margin-bottom: calc(0.75rem);
}
@media only screen and (max-width: 767px) {
  .header .navbar .navbar-section .navbar-login .login-form {
    flex-direction: column;
  }
}
.header .navbar .navbar-section .navbar-login .username,
.header .navbar .navbar-section .navbar-login .password {
  -ms-flex: none;
  flex: none;
  max-width: 100%;
  padding-left: .4rem;
  padding-right: .4rem;
  padding: 0 10px 0 0;
}
@media only screen and (max-width: 767px) {
  .header .navbar .navbar-section .navbar-login .username,
  .header .navbar .navbar-section .navbar-login .password {
    width: auto;
  }
}
@media only screen and (min-width: 767px) {
  .header .navbar .navbar-section .navbar-login .username,
  .header .navbar .navbar-section .navbar-login .password {
    width: auto;
  }
}
@media only screen and (min-width: 1025px) {
  .header .navbar .navbar-section .navbar-login .username,
  .header .navbar .navbar-section .navbar-login .password {
    width: auto;
  }
}
@media only screen and (max-width: 767px) {
  .header .navbar .navbar-section .navbar-login .username,
  .header .navbar .navbar-section .navbar-login .password {
    width: auto;
    margin-bottom: 10px;
    padding: 0;
  }
}
.header .navbar .navbar-section .navbar-login .input {
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  color: #353535;
  height: 30px;
}
.header .navbar .navbar-section .navbar-login .forgot-password {
  text-align: right;
  width: 100%;
  display: block;
}
.header .navbar .navbar-section .navbar-login .forgot-password a {
  color: #ff2e63;
  font-size: 14px;
}
.header .navbar .navbar-section .navbar-login .forgot-password a:hover {
  text-decoration: underline;
}
.header .navbar .navbar-section .navbar-login .google-container {
  float: right;
  font-size: 14px;
  margin-top: 15px;
}
.header .navbar .navbar-section .navbar-login .google-container:before,
.header .navbar .navbar-section .navbar-login .google-container:after {
  content: " ";
  display: block;
  height: 0;
}
.header .navbar .navbar-section .navbar-login .google-container:after {
  clear: both;
}
.header .navbar .navbar-section .navbar-login .google-container:before,
.header .navbar .navbar-section .navbar-login .google-container:after {
  content: " ";
  display: block;
  height: 0;
}
.header .navbar .navbar-section .navbar-login .google-container:after {
  clear: both;
}
@media only screen and (max-width: 767px) {
  .header .navbar .navbar-section .navbar-login .google-container {
    float: none;
  }
}
.header .navbar .navbar-section .navbar-login .google-text {
  float: left;
  padding: 0 10px;
  line-height: 40px;
}
@media only screen and (max-width: 767px) {
  .header .navbar .navbar-section .navbar-login .google-text {
    display: none;
  }
}
.header .navbar .navbar-section .navbar-login .google-btn {
  float: left;
  border-radius: 1px;
  width: 110px;
  height: 40px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px #757575;
}
.header .navbar .navbar-section .navbar-login .google-btn p {
  padding: 0;
  margin: 0;
  line-height: 40px;
}
@media only screen and (max-width: 767px) {
  .header .navbar .navbar-section .navbar-login .google-btn {
    width: 200px;
  }
}
.header .navbar .navbar-section .navbar-login .google-icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 1px;
  background-color: #fff;
  float: left;
}
@font-face {
  src: url('https://fonts.googleapis.com/css?family=Roboto:500');
}
.header .navbar .navbar-section .navbar-login .btn-text {
  margin-left: 40px;
  color: #757575;
  font-size: 14px;
  letter-spacing: .21px;
  font-family: Roboto, arial, sans-serif;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}
.header .navbar .navbar-section .navbar-login .btn-text.mobile {
  display: none;
}
@media only screen and (max-width: 767px) {
  .header .navbar .navbar-section .navbar-login .btn-text.desktop {
    display: none;
  }
  .header .navbar .navbar-section .navbar-login .btn-text.mobile {
    display: block;
  }
}
.header .navbar .navbar-section .navbar-login .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.forgot-password-columns {
  display: flex;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
  margin: 0;
  position: relative;
}
.forgot-password-columns:nth-of-type(:last-child) {
  margin-bottom: calc(0.75rem);
}
.forgot-password-columns:nth-of-type(:last-child) {
  margin-bottom: calc(0.75rem);
}
@media only screen and (max-width: 767px) {
  .forgot-password-columns {
    flex: 0;
    display: block;
    width: 100%;
  }
}
.forgot-password-columns .forgot-password {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-self: center;
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  .forgot-password-columns .forgot-password {
    flex: 0;
    display: block;
    width: 100%;
  }
}
.forgot-password-columns .forgot-password h4 {
  color: #222222;
}
.forgot-password-columns .forgot-password .send-forgot-password {
  background-color: #FA003F;
  color: #ffffff;
  height: 40px;
  width: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 20px;
  margin-top: 20px;
}
.forgot-password-columns .forgot-password .send-forgot-password:hover {
  background: #ff2e63;
}
.forgot-password-columns .forgot-password-back {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-self: center;
}
@media only screen and (max-width: 767px) {
  .forgot-password-columns .forgot-password-back {
    align-items: flex-start;
    margin: 20px 0;
  }
}
.forgot-password-columns .forgot-password-back h4 {
  color: #222222;
}
.forgot-password-columns .forgot-password-back .forgot-password-join {
  background-color: #FA003F;
  color: #ffffff;
  height: 40px;
  width: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 20px;
}
.forgot-password-columns .forgot-password-back .forgot-password-join:hover {
  background: #ff2e63;
}
.splash-registration-wrapper {
  padding: 15px 0 15px;
  position: relative;
}
@media only screen and (min-width: 767px) {
  .splash-registration-wrapper {
    padding: 40px 0;
  }
}
.splash-registration-wrapper .container:before,
.splash-registration-wrapper .container:after {
  content: " ";
  display: block;
  height: 0;
}
.splash-registration-wrapper .container:after {
  clear: both;
}
.splash-registration-wrapper .container:before,
.splash-registration-wrapper .container:after {
  content: " ";
  display: block;
  height: 0;
}
.splash-registration-wrapper .container:after {
  clear: both;
}
.splash-registration-wrapper .container .registration-form-outline {
  -webkit-box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  color: #222222;
  z-index: 9998;
  margin: 0 auto;
  float: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,0);
  width: 90%;
  max-width: 550px;
}
@media only screen and (max-width: 767px) {
  .splash-registration-wrapper .container .registration-form-outline {
    display: none;
    top: 5%;
    width: 98%;
  }
}
.splash-registration-wrapper .container .registration-form-outline .registration-form-header .top {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 10px;
  background-color: #353B3C;
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.splash-registration-wrapper .container .registration-form-outline .registration-form-header .top .credit {
  font-size: 20px;
  padding-top: 10px;
}
@media only screen and (max-width: 767px) {
  .splash-registration-wrapper .container .registration-form-outline .registration-form-header .top .credit {
    font-size: 18px;
  }
}
.splash-registration-wrapper .container .registration-form-outline .registration-form-content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  padding: 20px;
}
.splash-registration-wrapper .container .registration-form-outline .registration-form-content .register-form {
  margin: 0;
  list-style: none;
  width: 100%;
  padding: 0;
}
.splash-registration-wrapper .container .registration-form-outline .registration-form-content .registration-confirm {
  background-color: #FA003F;
  color: #ffffff;
  height: 40px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 20px;
  margin-top: 20px;
}
.splash-registration-wrapper .container .registration-form-outline .registration-form-content .registration-confirm:hover {
  background: #ff2e63;
}
.splash-registration-wrapper .container .registration-form-outline .registration-form-content .registration-confirm i {
  margin-right: 15px;
}
.location-dropdown {
  position: relative;
}
.location-container {
  color: #222222;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-top: none;
  max-height: 135px;
  overflow-y: auto;
}
.location-suggest {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
.location-suggest:before,
.location-suggest:after {
  content: " ";
  display: block;
  height: 0;
}
.location-suggest:after {
  clear: both;
}
.location-suggest:before,
.location-suggest:after {
  content: " ";
  display: block;
  height: 0;
}
.location-suggest:after {
  clear: both;
}
.location-suggest li {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ffffff;
  background: #efefef;
  color: #353535;
  border: solid 1px #cdcdcd;
  font-size: 14px;
  float: left;
  resize: none;
  width: 100%;
  list-style: none;
  height: 45px;
  line-height: 45px;
  padding: 0 2%;
  overflow: hidden;
}
.location-suggest li:hover {
  background-color: #ffffff;
  cursor: pointer;
}
.location-suggest li p {
  margin: 0;
  overflow: hidden;
  padding: 0 0 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.register-step2 .title-step2 {
  color: #FA003F;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}
@media only screen and (min-width: 767px) {
  .register-step2 .title-step2 {
    margin-bottom: 15px;
  }
}
.register-step2-info-check {
  float: left;
  width: 100%;
  height: 40px;
  padding: 10px 0;
}
.register-step2-info-check .step2-check {
  width: 180px;
  float: left;
  font-weight: 600;
}
.register-step2-info-check .step2-check:before {
  font-family: "Font Awesome 5 Pro";
  content: "\f14a";
  margin-right: 7px;
}
.register-step2 .step-2-signup-button {
  background-color: #FA003F;
  color: #ffffff;
  height: 60px;
  width: 100%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 20px;
  margin-top: 15px;
}
.register-step2 .step-2-signup-button:hover {
  background: #ff2e63;
}
.register-step2 .step-2-signup-button i {
  margin-right: 15px;
}
.register-step2 .nb {
  font-size: 13px;
  line-height: 16px;
}
.register-step2 .nb #privacyStatement_privacyReminder {
  margin-bottom: 10px;
}
.input-control {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  color: #353535;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  background-image: none;
}
.input-control:before,
.input-control:after {
  content: " ";
  display: block;
  height: 0;
}
.input-control:after {
  clear: both;
}
.input-control:before,
.input-control:after {
  content: " ";
  display: block;
  height: 0;
}
.input-control:after {
  clear: both;
}
.registration-label {
  width: 35%;
  float: left;
  text-align: right;
  padding: 12px 20px 0 0;
}
@media only screen and (max-width: 767px) {
  .registration-label {
    float: none;
    text-align: left;
    width: 100%;
    padding: 0;
  }
}
.registration-input {
  margin-top: 5px;
  width: 65%;
  float: left;
}
.registration-input:before,
.registration-input:after {
  content: " ";
  display: block;
  height: 0;
}
.registration-input:after {
  clear: both;
}
.registration-input:before,
.registration-input:after {
  content: " ";
  display: block;
  height: 0;
}
.registration-input:after {
  clear: both;
}
@media only screen and (max-width: 767px) {
  .registration-input {
    width: 100%;
    float: none;
    margin: 5px 0;
  }
}
.date input {
  float: left;
  margin-right: 2%;
  width: 32%;
}
.date input:last-of-type {
  margin-right: 0;
}
.google-button-container:before,
.google-button-container:after {
  content: " ";
  display: block;
  height: 0;
}
.google-button-container:after {
  clear: both;
}
.google-button-container:before,
.google-button-container:after {
  content: " ";
  display: block;
  height: 0;
}
.google-button-container:after {
  clear: both;
}
.google-button-container .google-button {
  margin-right: 10px;
}
.google-button-container p {
  line-height: 40px;
}
.registration-google {
  display: none;
}
.step2 .profile-info:before,
.step2 .profile-info:after {
  content: " ";
  display: block;
  height: 0;
}
.step2 .profile-info:after {
  clear: both;
}
.step2 .profile-info:before,
.step2 .profile-info:after {
  content: " ";
  display: block;
  height: 0;
}
.step2 .profile-info:after {
  clear: both;
}
.step-google-register-message h2 {
  text-align: center;
}
.register-form-list:before,
.register-form-list:after {
  content: " ";
  display: block;
  height: 0;
}
.register-form-list:after {
  clear: both;
}
.register-form-list:before,
.register-form-list:after {
  content: " ";
  display: block;
  height: 0;
}
.register-form-list:after {
  clear: both;
}
.register-form-list select#google-age {
  width: 65%;
}
.cc-tickbox.cc-tickbox-prepend-checkbox {
  margin-top: 20px;
}
.cc-tickbox.cc-tickbox-prepend-checkbox .cc-tickbox-input {
  float: left;
}
.google-success-text {
  background: #619a3c;
  color: #ffffff;
  padding: 5px 10px;
  display: none;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.25);
  margin-bottom: 10px;
  width: auto;
}
.splash-registration-wrapper .container .profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.splash-registration-wrapper .container .profiles .profile {
  pointer-events: none;
}
@media only screen and (max-width: 767px) {
  .splash-registration-wrapper .container .profiles .profile {
    width: calc(33.333333333333%  -  5px);
    padding: 1%;
  }
}
@media only screen and (min-width: 767px) {
  .splash-registration-wrapper .container .profiles .profile {
    width: calc(20%  -  7px);
    padding: 0.8%;
  }
}
@media only screen and (min-width: 1025px) {
  .splash-registration-wrapper .container .profiles .profile {
    width: calc(20%  -  7px);
    padding: 0.8%;
  }
}
@media only screen and (min-width: 1281px) {
  .splash-registration-wrapper .container .profiles .profile {
    width: calc(16.666666666667%  -  8px);
    padding: 0.8%;
  }
}
.splash-registration-wrapper .container .profiles .profile .profile-text {
  display: none;
}
.splash-registration-wrapper .container .profiles .profile .profile-photo img {
  border: 0;
  opacity: 0.6;
}
@media only screen and (max-width: 767px) {
  .splash-registration-wrapper .container .profiles .profile .profile-photo img {
    opacity: 0.9;
  }
}
@media only screen and (min-width: 767px) {
  .footer-page .splash-registration-wrapper .registration-form-outline {
    display: none;
  }
}
.splash-content-why {
  background: #353B3C;
  color: #ffffff;
  padding: 50px 0 75px 0;
  text-align: center;
}
@font-face {
  src: url('https://fonts.googleapis.com/css?family=Roboto:500');
}
.google-btn-wrapper {
  height: 42px;
  background-color: #4081EC;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.25);
  margin-bottom: 10px;
}
.google-btn-wrapper a.google-button {
  text-decoration: none;
}
.google-btn-wrapper .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.google-btn-wrapper .google-icon-wrapper .google-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.google-btn-wrapper .google-btn-text {
  padding: 10px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.2px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.kolumn {
  -ms-flex: none;
  flex: none;
  max-width: 100%;
  padding-left: .4rem;
  padding-right: .4rem;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .kolumn {
    width: 25%;
  }
}
@media only screen and (min-width: 767px) {
  .kolumn {
    width: 25%;
  }
}
@media only screen and (min-width: 1025px) {
  .kolumn {
    width: 25%;
  }
}
.background {
  background: #1C1A1A;
  min-height: 100vh;
  padding: 2%;
}
.background .modal-bg {
  -webkit-box-shadow: 0 0 14px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 14px rgba(0,0,0,0.5);
  box-shadow: 0 0 14px rgba(0,0,0,0.5);
  background: #fff;
  background-image: url('../img/unsubscribe/unsubscribe-bg.jpg');
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  color: #222;
  width: 100%;
  min-height: 95vh;
  margin: 0 auto;
  padding: 40px;
  padding-top: 340px;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 22px;
  font-size: 18px;
}
@media only screen and (min-width: 767px) {
  .background .modal-bg {
    width: 75%;
    min-height: 730px;
    justify-content: flex-end;
    line-height: 30px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 1025px) {
  .background .modal-bg {
    background-size: cover;
    width: 40%;
    min-width: 700px;
    padding: 200px 40px 30px 40px;
  }
}
.background .modal-bg h3 {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 30px;
}
.background .modal-bg .notifications-buttons-slider {
  width: 100%;
}
.background .modal-bg .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
.background .modal-bg .content .button {
  background-color: #FA003F;
  color: #ffffff;
  height: 40px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 20px;
  margin-bottom: 10px;
}
.background .modal-bg .content .button:hover {
  background: #ff2e63;
}
.background .modal-bg .content .button-grey {
  background: #888888;
}
.background .modal-bg .content .settings-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background .modal-bg .content .text {
  color: #222;
  margin-bottom: 20px;
}
.button-settings {
  background-color: #FA003F;
  color: #ffffff;
  height: 100px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 20px;
  padding: 20px;
}
.button-settings:hover {
  background: #ff2e63;
}
.preferences-slider {
  width: 100%;
  cursor: pointer;
}
.notifications-buttons-slider {
  width: 90%;
  max-width: 620px;
  display: none;
  font-size: 12px;
}
@media only screen and (min-width: 1025px) {
  .notifications-buttons-slider {
    padding-top: 240px;
  }
}
.notifications-buttons-slider .column {
  margin: 5px 0;
}
.notifications-buttons-slider ul {
  padding: 0;
  list-style: none;
}
.notifications-buttons-slider ul input {
  display: none;
}
.notifications-buttons-slider ul .button {
  background-color: #888;
  color: #fff;
  height: 100px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 20px;
  padding: 2%;
}
.notifications-buttons-slider ul .button:hover {
  background: #6f6f6f;
}
.notifications-buttons-slider ul .button.is-active {
  background-color: #FA003F;
  color: #ffffff;
  height: 100px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 20px;
}
.notifications-buttons-slider ul .button.is-active:hover {
  background: #ff2e63;
}
.questions-wrapper {
  padding: 0 20px;
  margin: 5px 0;
}
@media only screen and (min-width: 767px) {
  .questions-wrapper {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .questions-wrapper {
    font-size: 14px;
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 0 20px 0;
  }
}
.questions-wrapper .question {
  display: flex;
  width: 80%;
  text-align: left;
}
.questions-wrapper .radio-yes,
.questions-wrapper .radio-no {
  flex: none;
  width: 50px;
}
@media only screen and (max-width: 767px) {
  .questions-wrapper .radio-yes,
  .questions-wrapper .radio-no {
    width: 30px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.datalist .slider-option {
  margin: 0;
  position: relative;
  float: left;
  width: 25%;
  text-align: left;
  font-size: 14px;
}
.datalist .slider-option:nth-child(2) {
  padding-left: 7%;
}
.datalist .slider-option:nth-child(3) {
  padding-left: 14%;
}
.datalist .slider-option:nth-child(4) {
  padding-left: 12%;
}
@media only screen and (min-width: 767px) {
  .datalist .slider-option:nth-child(4) {
    padding-left: 17%;
  }
}
@media only screen and (min-width: 767px) {
  .radio-button {
    position: relative;
  }
}
.radio-button .text {
  position: absolute;
  bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .radio-button .text {
    display: none;
  }
}
.radio-button .fa-envelope,
.radio-button .fa-mail-bulk {
  display: flex;
  display: -ms-flex;
  justify-content: center;
}
.radio-yes,
.radio-no {
  align-self: center;
}
.pause-all-radio {
  width: 100%;
  height: 40px;
}
.pause-all-radio label {
  margin-left: 10px;
}
.settings-email-preferences h3 {
  font-size: 20px;
  font-weight: 600;
}
.settings-email-preferences h4 {
  padding-top: 40px;
}
