@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    color:#0f0f0f;
}

.Roboto{
    font-family: 'Roboto', sans-serif;
}

.colorGrey1{
    color:#a5a3a3;
}

.colorGrey2{
    color:#313131;
}

.colorGrey3{
    color:#292929;
}

.colorGrey4{
    color:#817f7f;
}

.colorBlue{
    color:#2d86af;
}

.colorGreen{
    color:#253817;
}

.font-16{
    font-size: 16px;
}

.font-18{
    font-size: 18px;
}

.font-22{
    font-size: 22px;
}

.font-24{
    font-size: 24px;
}

.font-25{
    font-size: 25px;
}

.font-28{
    font-size: 28px;
}

.font-30{
    font-size: 30px;
}

.font-35{
    font-size: 35px;
}

.font-36{
    font-size: 36px;
}

.font-45{
    font-size: 45px;
}

.font-50{
    font-size: 50px;
}

.medium{
    font-weight: 500;
}

.headerSection{
    background:url("../images/backgroundHeader.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.question{
    background:#eeeeee;
    border:2px solid #cecdcd;
}

.greyBorderBottom{
    border-bottom:7px solid #c3c0c0;
}

.section1 ul{
    margin-top:20px;
    list-style: none;
}

.section1 ul li{
    font-size: 24px;
    padding:15px 0;
    line-height: 1.2;
    display: flex;
    align-items: center;
}

.section1 ul li::before{
    content: url("../images/bullet.png");
    margin-right:15px;
}

.card{
    background:#eeecec;
}

.greenCard{
    background:#8fc564;
    border-radius: 20px;
    border: 4px solid #2d4b16;
}

.section3 ul{
    list-style: none;
}

.section3 ul li{
    font-size: 20px;
    padding:25px 0;
    line-height: 1.2;
    display: flex;
    align-items: center;
}

.section3 ul li::before{
    content: url("../images/greenChecked.png");
    margin-right:20px;
}

.backgroundGrey{
    background:#eeecec;
}

.questionButtons{
    background:#dddddd;
    color:#2e2e2e;
    font-size: 25px;
    text-align: center;
    border:1px solid #979797;
    border-radius: 6px;
    padding:10px 0;
}

.borderGrey{
    border:2px solid #9a9999;
}

.CTAButton{
    background:#0d587a;
    text-align: center;
    border-radius: 20px;
    font-size:36px;
    color:#fff;
    font-weight: 700;
}

.CTA{
    text-decoration: none;
}

.CTA2{
    text-decoration: none;
}

.CTAButton2{
    background:#0083b2;
    text-align: center;
    border-radius: 10px;
    font-size:40px;
    color:#fff;
    font-weight: 700;
    text-decoration: underline;
}

[name='question1']:checked + label .questionButtons{
    background:#4dd86d;
    color:#169734;
    border:1px solid #43b95f;
}

[name='question2']:checked + label .questionButtons{
    background:#4dd86d;
    color:#169734;
    border:1px solid #43b95f;
}

[name='question3']:checked + label .questionButtons{
    background:#4dd86d;
    color:#169734;
    border:1px solid #43b95f;
}

[name='question4']:checked + label .questionButtons{
    background:#4dd86d;
    color:#169734;
    border:1px solid #43b95f;
}

[name='question5']:checked + label .questionButtons{
    background:#4dd86d;
    color:#169734;
    border:1px solid #43b95f;
}

.Helper1{
    position: fixed;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    height:100px;
    width:100%;
    display:flex;
    align-items: center;
    background:rgba(196, 196, 196, 0.9);
}

.progress{
    position:relative;
    height:60px;
    border-radius: 30px;
}

.progress-bar{
    border-radius: 30px;
    -webkit-transition: none !important;
    transition: none !important;
}

.progressText{
    font-size: 24px;
    font-weight: 700;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.buttonDiscount{
    border-radius: 5px;
    background:#0083b2;
    text-decoration: none;
    padding:10px 0;
}

.buttonDiscount a{
    color:#fff;
    font-weight: 700;
    font-size: 32px;
    text-decoration: underline;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .font-16{
        font-size: 14px;
    }

    .font-18{
        font-size: 15px;
    }

    .font-22{
        font-size: 16px;
    }

    .font-24{
        font-size: 16px;
    }

    .font-25{
        font-size: 16px;
    }

    .font-28{
        font-size: 20px;
    }

    .font-30{
        font-size: 20px;
    }

    .font-35{
        font-size: 16px;
    }

    .font-36{
        font-size: 36px;
    }

    .font-45{
        font-size: 25px;
    }

    .font-50{
        font-size: 26px;
    }

    .section1 ul li{
        font-size: 20px;
    }

    .section3 ul li{
        font-size: 16px;
    }

    .CTAButton{
        font-size:20px;
    }

    .buttonDiscount a{
        font-size: 22px;
    }

    .progressText{
        font-size: 16px;
    }

    .CTAButton2{
        font-size:22px;
    }
}
