/*********** LANDERS *************/
/*===========================*/
/* V3.0 NEW EMAIL TEMPLATES  */
/*===========================*/
/* text-links on white background */
/* CTA button on white background */
/* text on the button */
/* header background */
.shake {
  -webkit-animation: shake .5s linear;
  animation: shake .5s linear;
}
@-webkit-keyframes shake {
  8%,
  41% {
    -webkit-transform: translateX(-3%);
  }
  25%,
  58% {
    -webkit-transform: translateX(3%);
  }
  75% {
    -webkit-transform: translateX(-2%);
  }
  92% {
    -webkit-transform: translateX(2%);
  }
  0%,
  100% {
    -webkit-transform: translateX(0%);
  }
}
@keyframes shake {
  8%,
  41% {
    transform: translateX(-3%);
  }
  25%,
  58% {
    transform: translateX(3%);
  }
  75% {
    transform: translateX(-2%);
  }
  92% {
    transform: translateX(2%);
  }
  0%,
  100% {
    transform: translateX(0%);
  }
}
.shakemid {
  -webkit-animation: shakemid .5s linear;
  animation: shakemid .5s linear;
}
@-webkit-keyframes shakemid {
  8%,
  41% {
    -webkit-transform: translateX(-53%);
  }
  25%,
  58% {
    -webkit-transform: translateX(-47%);
  }
  75% {
    -webkit-transform: translateX(-52%);
  }
  92% {
    -webkit-transform: translateX(-48%);
  }
  0%,
  100% {
    -webkit-transform: translateX(-50%);
  }
}
@keyframes shakemid {
  8%,
  41% {
    transform: translateX(-53%);
  }
  25%,
  58% {
    transform: translateX(-47%);
  }
  75% {
    transform: translateX(-52%);
  }
  92% {
    transform: translateX(-48%);
  }
  0%,
  100% {
    transform: translateX(-50%);
  }
}
.fadeInUpOpacity {
  -webkit-animation: fadeInUpOpacity 1s;
  animation: fadeInUpOpacity 1s;
}
@-webkit-keyframes fadeInUpOpacity {
  0% {
    -webkit-opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    -webkit-opacity: .8;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInUpOpacity {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: .8;
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
}
@-webkit-keyframes fadeInUp {
  0% {
    -webkit-opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    -webkit-opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
}
@-webkit-keyframes fadeInDown {
  0% {
    -webkit-opacity: 0;
    -webkit-transform: translateY(-400px);
  }
  100% {
    -webkit-opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.grow {
  -webkit-animation: grow 1s;
  animation: grow 1s;
}
@-webkit-keyframes grow {
  0% {
    -webkit-opacity: 0;
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.growOpacity {
  -webkit-animation: growOpacity 1s;
  animation: growOpacity 1s;
}
@-webkit-keyframes growOpacity {
  0% {
    -webkit-opacity: 0;
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-opacity: .8;
    -webkit-transform: scale(1);
  }
}
@keyframes growOpacity {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: .8;
    transform: scale(1);
  }
}
.pulse {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.fastpulse {
  -webkit-animation: fastpulse .25s infinite;
  animation: fastpulse .25s infinite;
}
@-webkit-keyframes fastpulse {
  0% {
    -webkit-transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes fastpulse {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
.scaleout {
  -webkit-animation: scaleout .5s;
  animation: scaleout .5s;
}
@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes scaleout {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.fade {
  -webkit-animation: fade 1s infinite;
  animation: fade 1s infinite;
}
@-webkit-keyframes fade {
  0% {
    -webkit-opacity: 0;
    -webkit-transform: scale(1);
  }
  5% {
    -webkit-opacity: 1;
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-opacity: 0;
    -webkit-transform: scale(1.2);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  5% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
.rotateleft {
  -webkit-animation: rotateleft .6s;
  -webkit-animation-iteration-count: 1;
  animation: rotateleft .6s;
  animation-iteration-count: 1;
}
@keyframes rotateleft {
  0% {
    opacity: 1;
    transform: rotate(0) translateX(0);
  }
  100% {
    opacity: 0;
    transform: rotate(-9deg) translateX(-200px);
  }
}
.rotateright {
  -webkit-animation: rotateright .6s;
  -webkit-animation-iteration-count: 1;
  animation: rotateright .6s;
  animation-iteration-count: 1;
}
@keyframes rotateright {
  0% {
    opacity: 1;
    transform: rotate(0) translateX(0);
  }
  100% {
    opacity: 0;
    transform: rotate(9deg) translateX(200px);
  }
}
.slide-inRightToLeft {
  -webkit-animation: slide-inRightToLeft 0.5s forwards;
  animation: slide-inRightToLeft 0.5s forwards;
}
@-webkit-keyframes slide-inRightToLeft {
  0% {
    -webkit-transform: translate(200%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
  }
}
@keyframes slide-inRightToLeft {
  0% {
    transform: translate(200%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.slide-inLeftToRight {
  -webkit-animation: slide-inLeftToRight 0.5s forwards;
  animation: slide-inLeftToRight 0.5s forwards;
}
@-webkit-keyframes slide-inLeftToRight {
  0% {
    -webkit-transform: translate(-200%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
  }
}
@keyframes slide-inLeftToRight {
  0% {
    transform: translate(-200%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.slide-outRightToLeft {
  -webkit-animation: slide-outRightToLeft 0.5s forwards;
  animation: slide-outRightToLeft 0.5s forwards;
}
@-webkit-keyframes slide-outRightToLeft {
  0% {
    -webkit-transform: translate(0%, 0%);
  }
  100% {
    -webkit-transform: translate(-200%, 0%);
  }
}
@keyframes slide-outRightToLeft {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-200%, 0%);
  }
}
.slide-outLeftToRight {
  -webkit-animation: slide-outLeftToRight 0.5s forwards;
  animation: slide-outLeftToRight 0.5s forwards;
}
@-webkit-keyframes slide-outLeftToRight {
  0% {
    -webkit-transform: translate(0%, 0%);
  }
  100% {
    -webkit-transform: translate(200%, 0%);
  }
}
@keyframes slide-outLeftToRight {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(200%, 0%);
  }
}
.fadeIn {
  -webkit-animation: fadeIn .5s forwards;
  animation: fadeIn .5s forwards;
}
@-webkit-keyframes fadeIn {
  0% {
    -webkit-opacity: 0;
    -webkit-transform: translateY(-50%);
  }
  100% {
    -webkit-opacity: 1;
    -webkit-transform: translateY(-50%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}
.fadeOut {
  -webkit-animation: fadeOut 1s infinite;
  animation: fadeOut 1s infinite;
}
@-webkit-keyframes fadeOut {
  0% {
    -webkit-opacity: 1;
    -webkit-transform: scale(1) translateY(-50%);
  }
  100% {
    -webkit-opacity: 0;
    -webkit-transform: scale(1.2) translateY(-50%);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: scale(1.2) translateY(-50%);
  }
}
.blink {
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
}
@-webkit-keyframes blink {
  0% {
    -webkit-opacity: 1;
  }
  50% {
    -webkit-opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blinker {
  -webkit-animation: blinker 1s infinite;
  animation: blinker 1s infinite;
}
@-webkit-keyframes blinker {
  0% {
    -webkit-opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
  }
}
@keyframes blinker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blinking {
  -webkit-animation: blinking 1s infinite alternate;
  animation: blinking 1s infinite alternate;
}
@-webkit-keyframes blinking {
  70% {
    -webkit-opacity: 0.7;
  }
}
@keyframes blinking {
  70% {
    opacity: 0.7;
  }
}
.expand-bounce {
  -webkit-animation: expand-bounce 0.25s normal forwards ease-in-out;
  animation: expand-bounce 0.25s normal forwards ease-in-out;
}
@-webkit-keyframes expand-bounce {
  0% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes expand-bounce {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
.zoomer {
  -webkit-animation: zoomer 60s infinite ease-in-out;
  animation: zoomer 60s infinite ease-in-out;
}
@-webkit-keyframes zoomer {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes zoomer {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.buzz {
  -webkit-animation: buzz 1s normal infinite ease-in-out;
  animation: buzz 1.25s normal infinite ease-in-out;
}
@-webkit-keyframes buzz {
  0% {
    -webkit-transform: scale(1.05);
  }
  30% {
    -webkit-transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.05);
  }
}
@keyframes buzz {
  0% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.05);
  }
}
.pulse-ring {
  -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
@-webkit-keyframes pulse-ring {
  0% {
    -webkit-transform: scale(0.33);
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}
@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}
.step img.loader {
  display: none;
  border: none;
  width: auto;
  height: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
*:focus {
  outline: 0;
}
*,
*:before,
*:after {
  -webkit-text-size-adjust: none;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}
img {
  -webkit-touch-callout: none;
}
.tranny {
  display: none;
}
button,
.email-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  width: auto;
  height: 60px;
  line-height: 60px;
  float: none;
  margin: 20px 0;
  padding: 0 5%;
  cursor: pointer;
  text-align: center;
  border: none;
  text-decoration: none;
  outline: none;
}
button.sso,
.email-button.sso {
  text-transform: initial;
}
.email-button {
  margin: 0 0 10px 0;
}
.google-btn-wrapper {
  float: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 60px;
  background-color: #4081EC;
  margin: 0 0 20px;
  width: auto;
}
.google-btn-wrapper a {
  display: inline;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  text-decoration: none;
}
.google-btn-wrapper .google-icon-wrapper {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 58px;
  height: 58px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.google-btn-wrapper .google-icon-wrapper .google-icon {
  position: absolute;
  width: 29px;
  height: 29px;
  cursor: pointer;
}
.google-btn-wrapper .google-btn-text {
  margin: 0;
  padding: 0;
  margin-left: 60px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.2px;
  font-family: "Roboto", arial;
  cursor: pointer;
  line-height: 60px;
}
.step {
  display: none;
}
.step:first-of-type {
  display: block;
}
.step[data-sso-start] {
  display: none;
}
select,
input:not([type="checkbox"]):not([type="radio"]),
.input-city {
  background: #fff;
  color: #111;
  border: 1px solid #999;
  padding: 0 2%;
  float: none;
  font-size: 16px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin: 0 0 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  margin: 0;
}
.date-select {
  width: 100%;
}
.date-select:before,
.date-select:after {
  content: " ";
  display: block;
  height: 0;
}
.date-select:after {
  clear: both;
}
.date-select select,
.date-select input:not([type="checkbox"]) {
  float: left;
  width: 30%;
  margin-right: 2%;
}
.date-select select:last-of-type,
.date-select input:not([type="checkbox"]):last-of-type {
  margin-right: 0;
}
.date-select select.year,
.date-select input:not([type="checkbox"]).year {
  width: 36%;
}
label:before,
label:after {
  content: " ";
  display: block;
  height: 0;
}
label:after {
  clear: both;
}
label.agesearch {
  float: left;
  width: 49%;
  margin-right: 2%;
}
label.agesearch:last-of-type {
  margin-right: 0;
}
#relative {
  position: relative;
  display: none;
}
#location-container {
  border: 1px solid #999;
  z-index: 100;
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}
#location-container ul,
#location-container li,
#location-container p {
  margin: 0;
  padding: 0;
}
#location-container ul {
  text-align: left;
}
#location-container ul:before,
#location-container ul:after {
  content: " ";
  display: block;
  height: 0;
}
#location-container ul:after {
  clear: both;
}
#location-container ul li {
  float: left;
  width: 100%;
  padding: 0 2%;
  font-size: 1em;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  overflow: hidden;
}
.error {
  margin: 10px 0;
  padding: 0;
}
.error li {
  display: none;
  padding: 5px 10px;
  margin: 0;
  font-size: 0.8em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.error li:first-of-type {
  display: block;
  text-align: center;
  background: #f00;
  color: #fff;
}
.confirm {
  text-align: left;
}
.confirm .check {
  padding-top: 5px;
  font-size: 14px;
}
.confirm .check:before,
.confirm .check:after {
  content: " ";
  display: block;
  height: 0;
}
.confirm .check:after {
  clear: both;
}
.confirm .check i {
  font-size: 14px;
}
.confirm input[type="checkbox"] {
  float: left;
  margin: 0 5px 0 0;
}
.confirm .cc-tickbox {
  padding-bottom: 10px;
}
.confirm .cc-tickbox .cc-tickbox-label {
  font-size: 11px;
  margin: 0;
  float: none;
  width: auto;
  line-height: 1em;
}
.confirm .cc-tickbox .cc-tickbox-label a {
  font-weight: normal;
}
.success h2,
.success h3,
.success p,
.success strong {
  text-align: center;
}
.success h3 {
  font-size: 16px;
}
.success p {
  margin: 0;
  padding: 10px 0;
  font-size: 14px;
}
.success strong {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
.success .email-button {
  display: none;
}
.background {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
@media only screen and (max-width: 767px) {
  .background {
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    -webkit-opacity: 0.2;
    opacity: 0.2;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
    filter: alpha(opacity=20);
  }
}
header {
  border-bottom-width: 10px;
  border-bottom-style: solid;
  text-align: center;
  padding: 0 10px;
}
header img {
  max-width: 300px;
  max-height: 70px;
}
button {
  -webkit-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
  display: none;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}
.timer {
  display: none;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
}
.container {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 96%;
  max-width: 1400px;
  text-align: center;
  margin-top: 7.5%;
}
.container h1.second-title {
  display: none;
  width: 50%;
  margin: 0 25% 0.6em;
  font-size: 1.8em;
  line-height: 1.4em;
}
@media only screen and (max-width: 767px) {
  .container h1.second-title {
    margin: 0 10% 0.6em;
    width: 80%;
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    margin-top: 10%;
  }
}
.steps {
  display: none;
}
.step {
  position: relative;
  width: 40%;
  margin: 0 30%;
}
@media only screen and (max-width: 992px) {
  .step {
    width: 50%;
    margin: 0 25%;
  }
}
@media only screen and (max-width: 767px) {
  .step {
    width: 94%;
    margin: 0 3%;
  }
}
.step h2 {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.7em;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  .step h2 {
    font-size: 1.5em;
  }
}
.step button {
  -webkit-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
  display: inline-block;
}
.step button::after {
  display: inline;
  font-family: "Font Awesome 5 Pro";
  content: "\f061";
  margin-left: 5px;
}
.pre {
  width: 100%;
  margin: auto;
  display: none;
}
.pre:first-of-type {
  display: block;
}
.pre h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .pre h2 {
    font-size: 1.5em;
  }
}
.pre .question-count {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 20px;
  display: inline-block;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.pre .question-count p {
  margin: 0;
  padding-bottom: 10px;
  font-weight: bold;
}
.pre .question-count .circle {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  width: 15px;
  height: 15px;
}
.pre .result {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 300px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 0;
  padding: 20px;
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  max-width: 500px;
  margin: 0 auto;
}
.pre .result.active {
  display: block;
  -webkit-animation: grow 1s;
  animation: grow 1s;
}
@media only screen and (max-width: 767px) {
  .pre .result {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 1.5em;
    padding: 10px;
  }
}
.pre.selected {
  width: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  border-width: 10px;
  border-style: solid;
  padding: 40px;
  max-width: 500px;
  margin: 0 auto;
}
.pre.selected h1 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
.pre.selected p {
  font-size: 1.1em;
}
.pre.selected button {
  width: 80%;
  display: inline-block;
}
.images {
  max-width: 500px;
  margin: 0 auto;
}
.images:before,
.images:after {
  content: " ";
  display: block;
  height: 0;
}
.images:after {
  clear: both;
}
.card {
  float: left;
  margin: 20px 3%;
  width: 44%;
  background-color: transparent;
  perspective: 1000px;
  cursor: pointer;
}
.card .card-inner {
  position: relative;
  padding-top: 140%;
  transition: transform .8s;
  transform-style: preserve-3d;
}
.card .card-inner.active {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card .card-front,
.card .card-back {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
  backface-visibility: hidden;
}
@media only screen and (max-width: 767px) {
  .card .card-front,
  .card .card-back {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
}
.card .card-front img {
  width: 100%;
  left: 0;
  position: absolute;
}
.card .card-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card .card-back img {
  width: 90%;
  margin-top: 30px;
}
.progress-bar {
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.progress-bar .steps-bullets {
  height: 10px;
  position: relative;
}
.progress-bar .steps-bullets:before,
.progress-bar .steps-bullets:after {
  content: " ";
  display: block;
  height: 0;
}
.progress-bar .steps-bullets:after {
  clear: both;
}
.progress-bar .steps-bullets .fill {
  position: absolute;
  left: 0;
  top: 0;
  transition: all .3s;
  height: 10px;
  width: 0;
}
.style1 .progress-bar {
  display: block;
}
.style2 .card .card-inner {
  padding-top: 150%;
}
.style2 .card .card-back img {
  width: 100%;
  margin-top: 0;
}
.cc-popup .cc-popup-content h1 {
  position: relative;
  padding: 0;
  text-align: left;
  font-size: 24px;
  top: auto;
  font-style: normal;
  text-shadow: none;
}
.cc-popup .cc-popup-content h2 {
  font-size: 16px;
}
.cc-popup .cc-popup-content p,
.cc-popup .cc-popup-content li {
  text-align: left;
  font-size: 10px;
  line-height: 12px;
}
.cc-popup .cc-popup-content .cc-popup-segments {
  margin-bottom: 0;
  padding-top: 10px;
  font-size: .9em;
}
.cc-popup .cc-popup-content button {
  margin: 10px 0 0;
  float: none;
}
.cc-popup .cc-popup-close {
  z-index: 1;
}
