.funnel-progress-wrapper
{
    padding: 0 20px 0 20px;
}
.funnel-progress
{
    background-color:#E4E4E4;
    width: 980px !important;
    max-width: 100%;
    margin: 10px auto 0 auto;
    border: 1px solid lightgrey;
    border-radius:5px;
    font-weight:bold;
}
.funnel-progress-step
{
    float: left;
    width: 33%;
    padding:10px 5px 10px 5px;
    text-align:center;
}
.funnel-progress-check-icon
{
    font-size: 10px;
}
.progress-text
{
    float: left;
    text-align: left;
}
.funnel-progress-check
{
    background-color:#143C8D;
    border:1px solid #1F4992;
    border-radius:10px;
    padding:0 4px 2px 4px;
    margin-right:5px;
    color:white;
    float: left;
}
.funnel-progress-icon
{
    background-color:white;
    float: left;
    color:#1F4992;
    border:1px solid #1F4992;
    border-radius:10px;
    padding:0 6px 2px 6px;
    margin-right:5px;
    -moz-box-shadow:    inset 0 0 5px #AAA;
    -webkit-box-shadow: inset 0 0 5px #AAA;
    box-shadow:         inset 0 0 5px #AAA;
}
.funnel-progress-check
{
    border-radius: 13px !important;
    padding:0px 5px 0px 5px !important;
}
.funnel-progress-icon
{
    border-radius:11px !important;
    padding:0px 6px 0px 6px !important;
}
.mobilebreak
{
    display: block;
}
.progress-text
{
    font-size:10px;
}
@media(max-width: 340px)
{
    .progress-text
    {
        font-size: 11px !important;
    }
}
@media(max-width: 360px)
{
    .progress-text
    {
        font-size: 12px !important;
    }
}
@media(max-width: 390px)
{
    .funnel-progress
    {
        /*width: 240px !important;*/
    }
    .progress-text
    {
        font-size: 15px;
    }
}
@media(min-width: 480px)
{
    .progress-text
    {
        margin-top: 5px;
    }
    .mobilebreak
    {
        display: none;
    }
}
@media(min-width: 490px)
{
    .funnel-progress-icon
    {
        border-radius: 13px !important;
        padding:0 5px 0px 5px !important;
    }
    .funnel-progress-check-icon
    {
        font-size:10px;
    }
}
@media(min-width: 515px)
{
    .mobilebreak
    {
        display: none;
    }
    .funnel-progress
    {
        width: 100% !important;
    }
    .progress-text
    {
        margin-top: 5px;
    }
}
@media(min-width: 550px)
{
    .progress-text
    {
        font-size: 12px;
        margin-top: 4px;
    }
}
@media(min-width: 620px)
{
    .mobilebreak
    {
        display: none;
    }
    .funnel-progress
    {
        width: 100% !important;
    }
    .progress-text
    {
        font-size: 14px;
        margin-top: 2px;
    }
}
@media(min-width: 768px)
{
    .progress-text
    {
        font-size: 16px;
        margin-top:3px;
    }
    .funnel-progress-check
    {
        border-radius: 13px !important;
        padding:0 6px 0px 6px !important;
    }
    .funnel-progress-check-icon
    {
        font-size:12px !important;
    }
    .funnel-progress-icon
    {
        border-radius: 13px !important;
        padding:0 7px 1px 7px !important;
    }
    .funnel-progress-step
    {
        font-size: 18px !important;
    }
}