.clearfix::before {
	content: "";
	display: table;
	clear: both
}

.clearfix {
	overflow: auto
}

.clearfix::after {
	content: "";
	display: table;
	clear: both
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11pt;
	background: #000
}

.pageContainer {
	width: 1080px;
	margin: 0 auto;
	position: relative;
	font-family: Arial;
	background-color: #fff;
	border-radius: 0
}

.pageContainerInner {
	margin-left: 60px;
	margin-right: 60px;
	margin-top: -4px;
	margin-bottom: 30px;
	padding-top: 30px
}

.steps {
	margin-top: 20px
}

h1 {
	color: #c00;
	font-size: 34pt;
	margin: 20px 0;
	font-weight: 700;
	padding: 0;
	text-align: center
}

h2 {
	color: #c00;
	font-size: 200%;
	margin: 20px 0;
	font-weight: 700;
	padding: 0;
	line-height: normal;
	text-align: center
}

h6 {
	font-size: 120%;
	margin: 0;
	padding: 0 0 20px;
	font-weight: 400
}

p {
	margin: 25px 0;
	padding: 0;
	color: #000;
	line-height: 27px;
	font-size: 20px
}

.typewriter {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace
}

h1.selection {
	color: #333;
	font-size: 34px;
	font-weight: 700;
	line-height: 22px;
	font-family: Roboto, sans-serif
}

h2.selection {
	color: #c00;
	font-size: 30px;
	font-weight: 600;
	font-family: Roboto, sans-serif
}

h3.selection {
	color: #333;
	line-height: 22px;
	font-size: 100%;
	font-family: Roboto, sans-serif
}

.bestseller {
	color: red;
	font-style: italic;
	font-weight: 700;
	font-size: 150%;
	line-height: 10px;
	padding-bottom: 10px
}

.h1center {
	font-size: 230%;
	color: #333;
	margin-bottom: 0
}

.h2center {
	font-size: 230%;
	margin-top: 0
}

.h3moneyback {
	font-size: 100%
}

.h3moneybackcenter {
	font-size: 120%
}

.ccimg {
	padding-top: 10px;
	width: 45%
}

.ccimgcenter {
	padding-top: 10px;
	width: 35%
}

.pleaseNote {
	max-width: 605px;
	text-align: center;
	margin: 0 auto
}

.warningBack {
	background: #ff3
}

.topWarning {
	position: relative;
	z-index: 10;
	text-align: center;
	background-color: #ff3;
	color: #000;
	padding: 5px 0;
	width: 100%;
	font-size: 20px;
	line-height: 27px;
	font-family: Arial
}

ul li {
	font-size: 20px;
	display: block;
	list-style: none;
	min-height: 36px;
	margin-left: 10px
}

li.check {
	background-image: url("../images/checkmark-red.jpg");
	background-position: top left;
	background-repeat: no-repeat;
	padding: 0 0 10px 35px;
	list-style: none;
	line-height: 27px;
	font-size: 20px
}

.redDashedBorder {
	border: 3px dashed #c00;
	margin-bottom: 30px;
	padding: 20px
}

.bigRed {
	background: 0 0;
	font-size: 22px;
	color: #c00
}

.headline {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 42px;
	font-weight: 500
}

.bestseller {
	color: red;
	font-style: italic;
	font-weight: 700;
	font-size: 150%;
	line-height: 10px;
	padding-bottom: 10px
}

.h1center {
	font-size: 46px;
	font-weight: 700;
	padding-top: 40px;
	font-family: Roboto, sans-serif
}

.h2center {
	font-size: 43px;
	font-weight: 600;
	font-family: Roboto, sans-serif
}

.h3moneyback {
	font-size: 100%;
	font-family: Roboto, sans-serif
}

.h3moneybackcenter {
	font-size: 120%;
	font-family: Roboto, sans-serif
}

.h3freeShipping {
	color: #006;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 15px
}

.ccimg {
	padding-top: 10px;
	width: 45%
}

.ccimgcenter {
	padding-top: 10px;
	width: 35%
}

.moneybackimg {
	width: 260px;
	margin-bottom: 10px
}

.moneybackimgcenter {
	width: 330px;
	padding-top: 5px
}

.addtocartimg {
	width: 230px
}

.addtocartimgcenter {
	width: 280px
}

.centerDiv input,
.leftDiv input,
.rightDiv input {
	display: inline-block
}

.centerDiv {
	padding-bottom: 23px !important
}

.kform_upsellBtn {
	background: 0 0 !important;
	border: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	width: 266px !important;
	height: 107px !important;
	color: transparent !important;
	background-image: url("../images/add_cart.png") !important;
}

.kform_upsellBtn:focus {
	outline: 0
}

.leftDiv {
	height: 575px;
	float: left;
	width: 30%;
	margin-top: 60px;
	padding-top: 20px;
	border-top-left-radius: 40px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-style: solid;
	border-top-width: 2px;
	border-right-color: initial;
	border-right-style: initial;
	border-right-width: 0;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-left-style: solid;
	border-left-width: 2px;
	background-color: #f4f4f4
}

.rightDiv {
	height: 575px;
	float: right;
	width: 30%;
	margin-top: 60px;
	padding-top: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-style: solid;
	border-top-width: 2px;
	border-right-style: solid;
	border-right-width: 2px;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-left-color: initial;
	border-left-style: initial;
	border-left-width: 0;
	background-color: #f4f4f4
}

.centerDiv {
	height: 670px;
	overflow: hidden;
	width: 39.16%;
	padding-top: 10px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-style: solid;
	border-top-width: 2px;
	border-right-style: solid;
	border-right-width: 2px;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-left-style: solid;
	border-left-width: 2px;
	background-color: #f4f4f4
}

.leftDiv:before,
.rightDiv:before {
	content: "";
	position: absolute
}

.centerDiv:before {
	content: "";
	position: absolute;
	top: -1px;
	left: -10px;
	background: url("../images/best-seller2-min.png") no-repeat;
	width: 121px;
	height: 116px
}

.centerDiv,
.leftDiv,
.rightDiv {
	vertical-align: middle;
	text-align: center;
	position: relative
}

.onebottlesimg {
	width: 26%
}

.threebottlesimg {
	width: 80%
}

.sixbottlesimg {
	width: 95%
}

.guarantee-box-upsell {
	border: 1px solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: currentcolor;
	border-right-color: currentcolor;
	border-bottom-color: currentcolor;
	border-left-color: currentcolor;
	border-color: #000;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	padding: 8px 8px 8px 8px;
	background-color: #f4f4f4;
	margin-top: 40px;
	min-height:153px;
}

.guarantee-box-upsell::AFTER {
	content: "";
	display: table;
	clear: both
}

.guarantee-title-upsell {
	font-weight: 700;
	font-size: 160%;
	padding-bottom: 5px
}

.guarantee-title-upsell-big {
	font-weight: 700;
	font-size: 230%;
	padding-bottom: 5px;
	text-align: center;
	color: maroon;
	padding-top: 15px
}

.guarantee-left-upsell1 {
	width: 20%;
	float: left;
	padding-left: 30px
}

.guarantee-right-upsell1 {
	width: 68%;
	float: left;
	font-size: 16px;
	padding-top: 20px
}

.guarantee-left-upsell {
	width: 20%;
	float: left
}

.guarantee-right-upsell {
	width: 78%;
	float: left;
	font-size: 16px;
	padding-top: 20px
}

.guarantee-text-upsell {
	font-size: 20px;
	line-height: 130%;
	margin: 15px 0
}

p.yes-section {
	font-size: 16px;
	line-height: 26px
}

.nothanks {
	font-size: 18px;
	line-height: 25px
}

.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: 0;
	transition: .4s;
	font-size: 16px
}

.accordion:hover,
.active {
	background-color: #ccc
}

.panel {
	padding: 0 18px;
	background-color: #fff;
	max-height: 0;
	overflow: hidden;
	transition: max-height .2s ease-out;
	font-size: 13px
}

.accordion:after {
	content: '\002B';
	color: #777;
	font-weight: 700;
	float: right;
	margin-left: 5px
}

.active:after {
	content: "\2212"
}

@media (max-width:800px) {
	.topWarning {
		font-size: 15px;
		line-height: 20px
	}

	ul {
		margin-left: 0;
		padding-left: 0
	}

	.pageContainer {
		width: 100%
	}

	.pageContainerInner {
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 10px
	}

	.steps {
		display: none
	}

	.h2center {
		font-size: 180%
	}

	.leftDiv {
		height: auto;
		float: none;
		margin: 0 auto;
		width: 85%;
		margin-top: 20px;
		padding-top: 20px;
		border-top-right-radius: 40px;
		border-right-style: solid;
		border-right-width: 2px
	}

	.rightDiv {
		height: auto;
		float: none;
		margin: 0 auto;
		width: 85%;
		margin-top: 50px;
		padding-top: 20px;
		border-top-left-radius: 40px;
		border-left-style: solid;
		border-left-width: 2px
	}

	.centerDiv {
		height: auto;
		float: none;
		margin: 0 auto;
		overflow: hidden;
		width: 85%;
		margin-top: 50px;
		padding-top: 20px
	}

	.moneybackimg {
		margin-bottom: 10px
	}

	.moneybackimgcenter {
		width: 260px;
		margin-bottom: 10px
	}

	.addtocartimgcenter {
		width: 230px
	}

	.sealimg {
		padding-top: 10px
	}

	.guarantee-box-upsell {
		width: 85%;
		margin: 0 auto;
		margin-top: 60px;
		padding: 0
	}

	.guarantee-title-upsell {
		text-align: center;
		font-size: 130%;
		padding-bottom: 15px
	}

	.guarantee-title-upsell-big {
		text-align: center;
		font-size: 160%;
		padding-bottom: 15px
	}

	.guarantee-left-upsell1 {
		float: none;
		width: 90%;
		margin: 0 auto;
		padding-top: 5px;
		padding-left: 0
	}

	.guarantee-right-upsell1 {
		float: none;
		width: 90%;
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center
	}

	.guarantee-left-upsell {
		float: none;
		width: 90%;
		margin: 0 auto;
		padding-top: 5px
	}

	.guarantee-right-upsell {
		float: none;
		width: 90%;
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center
	}
}

.submitButton {
	cursor: pointer !important
}