.clearfix::before {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/*
Form styling
*/
#countdown_clock {
    //width: 107px;
    //background-color: #fafafa;
    border-color: grey;
    z-index: 100;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
.kform select.short_select{
    width: 49% !important;
}

/*
--------START------------- Checkbox for Terms and Conditions
*/

#termsOfService{
    display: block;
}
/*
--------END------------- Checkbox for Terms and Conditions
*/
body{margin:0 0 0 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
hr{margin-top:20px; margin-bottom: 20px; 
border-top-width: 1px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-style: solid; 
border-color: #eee;
}
.kformBox, .kformBox-b, .kformBox-g{
    border: 0px solid #000;
    border-radius: 5px;
    padding: 10px 20px 20px;
    color: #fff;
    box-shadow: 2px 2px 2px 2px #6e6e6e;
    margin-bottom: 20px;
}
.kformBox{
    background-color:#ff0000;
    background: #c72929 -webkit-linear-gradient(#ff0000 0%, #b30000 100%);
    background: #c72929 -moz-linear-gradient(#ff0000 0%, #6b30000 100%);
}
.kformBox-b{
    background: #3476c6 -webkit-linear-gradient(#3476c6 0%, #02418e 100%);
    background: #3476c6 -moz-linear-gradient(#3476c6 0%, #02418e 100%);
}
.kformBox-g{
    background: #70b316 -webkit-linear-gradient(#70b316 0%, #6eb312 100%);
    background: #70b316 -moz-linear-gradient(#70b316 0%, #6eb312 100%);
}
.finishorderwideimg{
    display: block; 
    width: 98%;
    margin: 0 15px;
}
.finishordernarrowimg{display: none; width: 100%;}
.securitysection{
    text-align: center;
}
.greatjob{color: #000; font-weight: bolder; font-size: 200%; font-family: "Arial Narrow", Arial, sans-serif;}
.firststep{font-size: 150%;}

.selectedpackage{font-size: 130%; float: left; padding-top: 7px;}
.paddlerow{float:right;}
.onebottles{max-width:48%; padding-top: 15px; padding-bottom: 20px;}
.threebottles{max-width:90%; padding-top: 20px; padding-bottom: 39px;}
.sixbottles{max-width:100%; padding-top: 30px; padding-bottom: 110px;}
.productDisplay{display:block;}
.productDisplay::AFTER {
    content: "";
    display: table;
    clear: both;
}
.kform_productBox {display: inline-block;}
.kform_productSelect{display: inline-block;}
.switcher-input {
    position: absolute;
    margin-bottom: 0;
    opacity: 0;
}
.switcher-paddle {
    display: inline-block;
    background: #666;
    border-radius: 2px;
    width: auto;
    font-weight: 400;
    padding: 10px 10px;
    height: auto;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 90%
}
.productdisplayleft{
    width:60%; float: left; padding-top: 20px;
}
.productdisplayright{
    width:40%; float: right; font-size: 16px; padding-top: 20px; padding-bottom: 40px;
}
.productname{
    font-size: 210%;
    font-weight: bolder;
    color: #000;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}
.price-text-red, .price-text-blue, .price-text-green{
    font-size: 180%;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 10px;
}
.price-text-red{
    color: red;
}
.price-text-blue{
    color: #1b5193;
}
.price-text-green{
    color: #559400;
}
.oldprice{
    font-size: 100%;
    text-decoration: line-through;
    font-weight: bold;
    text-align: center;
}
.currentprice{
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}
.text-red{
    color: red;
    font-weight: bold;
    text-align: center;
}
.shipping, .shipping-blue, .shipping-green{
    font-size: 100%;
    font-weight: bolder;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
.shipping{
    color: red;
}
.shipping-blue{
    color: #1b5193;
}
.shipping-green{
    color: #559400;
}
.kform {font-size:1em;
       //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.kform{position:relative;}
.kform div.kform_spacer {margin:.5em 0;display:block;}
.kformSpacer {margin:.4em 0;display:block;}
.kform input[type="text"],
.kform input[type="email"],
.kform input[type="tel"],
.kform input[type="number"] 
{          display: inline-block;
    margin-right: 5px;
    padding: .5em 14px;
    width: 90%;
    border-radius: 4px;
    border: solid;
    border-width: 1px;
    border-color: grey;
    height: 24px;
    box-sizing: initial !important;
        -webkit-box-sizing:initial !important;
        -moz-box-sizing:initial !important;
        line-height: 0;
}
select{line-height: 0;}
.kform input[type="checkbox"]{display:inline-block;}
.kform select { padding:.5em 14px;width:100%;
      border-radius:4px;
      border: solid;
      border-width: 1px;
      border-color: grey;
}
.kform .kform_checkbox label {margin-left:0px;text-align:left;font-size:1em;vertical-align:middle}
.kform label {padding-bottom: 5px;display:inline-block;text-align:left;vertical-align:middle}

.kformTitle {font-size:larger;font-weight:bold;margin:20px 0;}
.kformSubTitle {font-size:1em;font-weight:bold;margin:10px 0;}

.kformPaySourceTile {border:1px solid #CCC;padding:10px;background-color:#efefef;margin:10px 0}
.kformPaySourceTile span{display:inline-block;line-height:1;margin-left:20px;vertical-align:middle}
.kformPaySourceTile input{vertical-align:middle}

#kform_paySelect {padding-top:1em;border-top:0 dashed #666}
#kform_paySelectTitle {font-size:1em;font-weight:bold;display:inline-block;}
.kform_paySelectOption {display:inline-block;margin-left:1em}
.kform_title {font-size:1em;font-weight:bold;}

//#kform_paySourceCard{margin-bottom:2em}
#kform_paySourceCheck{margin-bottom:2em;display:none}

/*.kform_submitBtn{border:thin outset black;height:3em;font-weight:bold;font-size:25px;
                background: #fbe31d -webkit-linear-gradient(#fbe31d 0%, #fca407 100%) !important;
                background: #fbe31d -moz-linear-gradient(#fbe31d 0%, #fca407 100%) !important;
                display:block; margin-bottom: 10px; color:#000 !important;}
.kform_submitBtn:hover{cursor:pointer;
                background: #fbe31d -webkit-linear-gradient(#fbe31d 0%, #ff9000 100%) !important;
                background: #fbe31d -moz-linear-gradient(#fbe31d 0%, #ff9000 100%) !important; color:#000 !important; }*/
.kform_submitBtn{
    width: 100%;
    margin: 0px auto 0;
    -moz-box-shadow: 1px 7px 17px 3px #4d4d4d;
    -webkit-box-shadow: 1px 7px 17px 3px #4d4d4d;
    box-shadow: 1px 5px 15px 1px #000;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffd98c), color-stop(1, #db8000));
    background:-moz-linear-gradient(top, #ffd98c 5%, #db8000 100%);
    background:-webkit-linear-gradient(top, #ffd98c 5%, #db8000 100%);
    background:-o-linear-gradient(top, #ffd98c 5%, #db8000 100%);
    background:-ms-linear-gradient(top, #ffd98c 5%, #db8000 100%);
    background:linear-gradient(to bottom, #ffd98c 5%, #db8000 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd98c', endColorstr='#db8000',GradientType=0);
    background-color:#ffd98c;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:6px solid #ffd505;
    display:table;
    cursor:pointer;
    color:#ffffff;
    font-family: "Arial Black", Gadget, sans-serif;
    //font-family: 'Oswald', sans-serif;
    font-weight:700;
    padding:11px 10px;
    text-decoration:none;
    text-shadow:0px 1px 9px #000000;
    font-size:20px;
}
.kform_submitBtn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #db8000), color-stop(1, #ffd98c));
	background:-moz-linear-gradient(top, #db8000 5%, #ffd98c 100%);
	background:-webkit-linear-gradient(top, #db8000 5%, #ffd98c 100%);
	background:-o-linear-gradient(top, #db8000 5%, #ffd98c 100%);
	background:-ms-linear-gradient(top, #db8000 5%, #ffd98c 100%);
	background:linear-gradient(to bottom, #db8000 5%, #ffd98c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db8000', endColorstr='#ffd98c',GradientType=0);
	background-color:#db8000;
}
.kform_upsellBtn{
    background: #f5f5f5;
    border: 5px solid #C00;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    padding: 11px 19px;
}

.kform_upsellBtn:hover{cursor:pointer;background-color:#fff}

.kform_salesTaxMessage{float:left;font-weight:bold;font-size:90%;color:red;}
#kform_taxBtn{margin-left:40px;margin-top:-0px;}

#kform_payPalButton {width:100%}
#kform_payPalButton:hover {cursor:pointer}

#AmazonPayButton{margin-top:20px}
#addressBookWidgetDiv{width:400px;height:200px;}
#walletWidgetDiv{width:400px;height:200px;margin-top:20px}

/*Signature Styling */
#kform_sigPad {
	border: 1px solid #000;
	width: 100%;
}

#signatureTypedInput
{
  color: #145394;
  font: normal 80px "dafoe",Georgia,Times,serif;
  width:auto;
}
#kform_sigDisplay
{
  padding: 15px;
}

/*
Order Summary Styling
*/

.kform_orderSummaryTable { cell-spacing:1em;width:100%;}
.kform_orderSummaryTitleRow { font-weight:bold; padding:0 1em}
.kform_orderSummaryRow { padding:0 1em}

/*
Shopping cart styling
*/
#kform_cartDiv { font-family:Arial, Helvetica, sans-serif;}
#kform_cartTitle { font-size:1.2em;font-weight:bold;padding:10px 0;}
#kform_cartTable { width:100%;margin:0px auto 15px auto;font-size:.8em;border-spacing:0}
#kform_cartTable td{border-bottom:1px solid #ccc;padding:6px 10px}
#kform_cartTitleRow {background-color:#f8f8f8;font-weight:bold;}
#kform_cartTitleRow td{font-size:1em;line-height:60px;border-top:1px solid #ccc;}
#kform_emptyCartMessage {text-align:center;font-size:1.2em;font-style:italic;padding:2em 0 !important}
.kform_itemQtyBox {width:30px;display:inline-block}
.kform_cartProductImg {max-width:150px;max-height:75px;vertical-align:middle}
.kform_removeBtn {font-size:10px;padding:2px 1px}
.kform_layout2Col {float:left;width:340px; position:relative;padding-right:20px;float:left}
.kform_continueShoppingBtn {float:right;padding:.25em 1em;}

/*
Product Box styling

.kform_catalogBox { padding:1em 0; border-bottom:1px solid #CCC}
.kform_catalogBox h3 {margin-top:0}
.kform_productBoxImage { max-height:100px;max-width:100px;float:left;margin-right:10px;}

.kform_productBox { text-align:left;padding:1em;max-width:400px}
.kform_productBox h3 {margin-top:0}
div.kform_selectedProduct {background-color:#efefef}
*/
/*
Pricing and totals styling
*/
.kform_pricingDiv { font-size:1em;padding:20px 0}
.kform_pricingDiv div {width:auto}
.kform_priceLabel{margin-right:1em;text-align:right;display:inline-block}
#kform_price{}
#kform_shipPrice{}
#kform_salesTax{}
#kform_discount{display:none;color:green}
#kform_insurance{display:none}
#kform_grandTotal{border-top:1px solid #ccc}

.kcartTotals { width:240px}

/*Upsell Page Styling */
.kform_upsellImage {margin-right:20px;max-height:200px;max-width:200px}


/*
Form Error styling
*/

.kformSubmitError
{
	padding:10px 0;
	font-size:16px;
	font-family:Arial;
	border:none;
	color:#cc0000;
	font-weight:bold;
}
.kformSubmitErrorContainer
{
	display:block;	
}

.kformInlineError
{
	padding:10px;
	font-size:14px;
	font-family:Arial;
	border:none;
	color:#cc0000;
	font-weight:bold;
}

.kformErrorPop
{
	padding:10px 20px 10px 10px;
	border:medium solid #cc0000;
	color:#cc0000;
	background:white;
	font-size:14px;
	font-family:Arial;
	color:#cc0000;
	font-weight:bold;
}

.kformErrorPopContainer
{
	position:absolute;z-index:10000;
	box-shadow: 5px 5px 5px #888888;
}

.kformErrorOutline
{
	outline: thin solid red !important;	
}



/*
Progress bar dialog styling
*/
.kdialogWrap{position:absolute;z-index:2000000;top:0;left:0;width:100%;height:100%;z-index:1000;-webkit-backface-visibility: hidden;}
.kdialogBackground{position:absolute;top:0;left:0;z-index:1;background-color:#666;opacity:0.3;width:100%;height:100%;}

.kdialogContent{
	position:absolute;
	z-index:2000000;
	background-color:white;
	padding:20px;
	border-radius:5px;
	font-size:1em;
	min-width:200px;
	max-width:800px;
	font-family:Arial;
	max-height:80%;
	overflow-y:auto;
}

.kdialogTitle
{
	font-size:20px;
	weight-weight:bold;
	border:1px solid #CCC;
	border-width: 0 0 1px 0;
	font-weight:bold;
	margin-top:0
	
}

.kformProgressBar {width:60px;height:60px;background-size:100% 100%;opacity:0.5}

.kdialogXOut{width:15px;height:15px;position:absolute;top:6px;right:6px;background-position:0 100%;background-size:100% 200%;}
.kdialogXOut:hover{background-position:0 0;cursor:pointer;cursor:hand;}

.kdialogConfirmOptions{text-align:center;margin:20px;}
.kdialogConfirmOptions input{margin-right:20px;}

.timeout {
    background-color: #fff;
    border-radius: 50px;
    min-height: 60px;
    text-align: center;
    border: 1px solid #cacaca;
    margin: 30px 0;
    font-size: 28px;
    line-height: 60px;
}

/*@media only screen and (min-width: 980px) {*/


.ktemplate_pageContainerHeader {width:992px;margin:0 auto;position:relative;}
.ktemplate_pageContainer {width:992px;margin:0 auto;position:relative;font-family:Arial;
    background-color: #fbfbfb;
    border-radius: 20px;
    box-shadow: 0 0 10px #cacaca;}
.ktemplate_pageContainer:after{content: "";
  display: table;
  clear: both;}
.ktemplate_pageContainerInner{padding-left: 15px; padding-top: 15px; padding-right: 15px; padding-bottom: 15px;}
.ktemplate_boxLeft {width:64%;float:left;margin-right:10px; margin-left:15px; margin-top:30px;}
.ktemplate_boxRight {width:33%;float:right; margin-top: 30px;}
.ktemplate_sideBar {width:340px;float:right;background-color:#f7f7f7;min-height:800px}
.ktemplate_sideBar h1{margin-top:200px;text-align:center;font-size:2em;font-style:italic;font-weight:100}
.ktemplate_userCopy{padding:40px 0;text-align:center;font-size:2em;font-weight:bold}

.ktemplate_header {
    background-color: #fff;
    padding: 20px 0 30px;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.75);
    margin-bottom: 20px;
    height: 58px;
}
.ktemplate_header h1{text-align:center;font-size:2em;padding-top:40px;font-style:italic;font-weight:100}
.headerimglogo{max-width: 26%; position: relative; top: 12px;}
.headerimgflag{max-width: 25%; float: right; padding-top: 10px;}
.headerPhoneNumber{
    float:right; 
    text-align: center;
    font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
    margin-right: 5px;
}
.phoneTop{
    font-size: 20px;
    font-weight: 500;
    //padding-bottom: 10px;
}
.phoneBottom{
    font-size: 30px;
    font-weight: 700;
}

.kthanks {width:500px;margin:0 auto;font-family:Arial}
.kthanks_box {border:1px solid black;border-radius: 5px;margin-bottom:20px;width:500px;float:left;margin-right:20px}
.kthanks_boxTitle {background-color:#800000;color:white;font-size:1.4em;text-align:left;padding:5px}
.kthanks_boxContent { padding:20px}

.kthanksItemsTable { width:100%}
.kthanksItemsTable_TitleRow td {font-weight:bold;font-size:larger}
.kthanksItemsTable td{padding:5px}
.kthanks_spacer { white-space:nowrap}
.kthanks_label {font-weight:bold;width:100px;text-align:right;margin-right:10px;display:inline-block}
.kthanks_value {display:inline-block}

#kthanks_reorderLink {}

#kform input[type="text"],input[type="email"],input[type="tel"],input[type="number"]{}
#kform select {
        border-radius: 4px;
    border: solid;
    border-width: 1px;
    border-color: grey;
    box-sizing: initial;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    height: 24px;
    line-height: 0;
}
#kform_paySourceCard{width:100%}
.formfields {width:100%}
.kform_submitBtn{width:100%}

/*styling for shopping cart, which has fields inside the .layout2Col class*/
.kform_layout2Col_L{width:440px}
#kform .kform_layout2Col_L input[type="text"],input[type="email"],input[type="tel"],input[type="number"] {width:400px}
#kform .kform_layout2Col_L select {width:430px}

.kform_layout2Col_R {width:440px}
.kform_layout2Col_R input[type="text"],input[type="email"],input[type="tel"],input[type="number"] {width:310px}
#kform .kform_layout2Col_R select {width:430px}
.kform_layout2Col #kform_paySourceCard{width:430px}
.kform_layout2Col #kform_paySourceCard input[type="text"],input[type="email"],input[type="tel"],input[type="number"] {width:400px}
.kform_kcartCheckout .kform_submitBtn{width:430px}

.callus{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.callus-mobile{
    display: none;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}
.guarantee-box{
    border: 1px solid; 
    border-color: #7cb5ff; 
    border-radius: 5px; 
    padding: 8px 8px 8px 8px; 
    background-color: #fff;
    margin-bottom: 15px;
}
.guarantee-box::AFTER{
  content: "";
  display: table;
  clear: both;
}
.guarantee-title{font-weight: bold; font-size: 129%;}
.guarantee-left{
    width:25%; float: left; padding-top: 8px;
}
.guarantee-right{
    width:73%; float: right; font-size: 17px;
}
.guarantee-right p{
   margin-top: 17px;
    line-height: 21px;
}
.rushimg{width:100%; margin-left: -44px; margin-top: 30px; margin-bottom: 20px;}
.footer{
    width: 992px;
    margin: 0 auto;
    display: block;
    background: #fff;
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
    color: #333;
}
footer ul.links {
    list-style: none;
    display: block;
    float: none;
    margin: 0 0 12px;
}
footer ul.links li {
    display: inline-block;
    padding: 0 8px;
    text-align: center;
}
footer ul.links li a {
    text-transform: uppercase;
    color: #800000;
    text-decoration: none;
}
/*}*/
.kform input[type="text"], .kform input[type="email"], .kform input[type="tel"], 
    .kform input[type="number"] , select
     {padding-top:0!important;padding-bottom:0!important;height:40px!important;
        vertical-align: middle;line-height: 1;box-sizing: border-box!important;width:100%;font-size:16px;}
     
.table{
    //width: 92%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
    color: #333;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}
.box{
    border: solid #adadad 1px;
    box-shadow: 1px 1px 2px black;
}
.red-gradient {
    background: #c72929 -webkit-linear-gradient(#ff0000 0%, #b30000 100%);
    background: #c72929 -moz-linear-gradient(#ff0000 0%, #b30000 100%);
    background-color: rgb(199, 41, 41);
}
.glyphicon-ok, .glyphicon-check {
    color: red;
}
.table > tbody > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
    font-size: 15px;
}
.table > tbody > tr > td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
/*Original: @media only screen and (min-width: 1px) and (max-width: 979px) { */
@media only screen and (min-width: 1px) and (max-width: 979px) {
.ktemplate_pageContainerHeader {max-width:100%;margin:0 auto;position:relative;font-family:Arial}
.ktemplate_pageContainer {max-width:100%;margin:0 auto;position:relative;font-family:Arial}
.kprofile_container {max-width:100% !important;}
.ktemplate_boxLeft {max-width:100%; margin-left:5px; margin-right:5px;}
.ktemplate_boxRight {max-width:100%;}
.ktemplate_sideBar {max-width:100%;background-color:#f7f7f7;height:auto}
.ktemplate_sideBar h1{margin-top:100%;text-align:center;font-size:2em;font-style:italic;font-weight:100}
.ktemplate_userCopy{padding:40px 0;text-align:center;font-size:2em;font-weight:bold}
.ktemplate_header h1{text-align:center;font-size:2em;padding-top:40px;font-style:italic;font-weight:100}

.kprofileTitle {width:100% !important}

#kthanks_reorderLink {}

.formfields {width:100%}
#kform input {font-size:16px}
#kform select {font-size:16px}

.kform_submitBtn{width:100%;}

.timeout {
    font-size: 140%;
}
#kcartSigninButton {cursor:pointer;color:blue}
@media only screen and (min-width: 1px) and (max-width: 808px) {
    .finishorderwideimg{display: none;}
    .finishordernarrowimg{display: block;}
    .ktemplate_pageContainerHeader {margin:0 auto;position:relative;font-family:Arial}
    .ktemplate_pageContainer {margin:0 auto;position:relative;font-family:Arial}
    .kprofile_container {max-width:520px !important;}
    .ktemplate_boxLeft {width:100%; max-width:100%;}
    .ktemplate_boxRight {width:100%; max-width:100%; padding-right:3px;}
    .ktemplate_sideBar {max-width:400px;background-color:#f7f7f7;height:auto}
    .ktemplate_sideBar h1{margin-top:200px;text-align:center;font-size:2em;font-style:italic;font-weight:100}
    .ktemplate_userCopy{padding:40px 0;text-align:center;font-size:2em;font-weight:bold}
    .ktemplate_header {text-align: center;}
    .headerimglogo{max-width: 170px;}
    .headerimgflag{display:none;}	
    .ktemplate_header h1{text-align:center;font-size:2em;padding-top:40px;font-style:italic;font-weight:100}
    .kthanks {width:100%;margin:0 auto;font-family:Arial;}
    .kthanks_box {border:1px solid black;border-radius: 5px;margin-bottom:20px;float:left;margin-right:20px;width:100%}
    .kthanks_boxContent { padding:20px}

    .kthanksItemsTable { width:100%}
    .kthanksItemsTable_TitleRow td {font-weight:bold;}
    .kthanksItemsTable td{padding:5px}
    .kthanks_spacer { white-space:nowrap;font-size:12px}
    .kthanks_label {font-weight:bold;width:100px;text-align:right;margin-right:10px;display:inline-block}
    .kthanks_value {display:inline-block}

    .kprofileTitle {width:460px !important}

    #kthanks_reorderLink {}

    .formfields {width:400px}
    #kform input {font-size:22px !important;line-height: 1; }.sbt_bttn{font-size:20px!important;}
    #kform select {font-size:22px; width: 100%; line-height: 1;}

    .headerimgflag{float:none; }
    .greatjob{font-size: 140%;}
    .firststep{font-size: 140%;}
    .timeout{font-size:130%;}
    .guarantee-title{text-align: center; padding-bottom: 10px;}
    .guarantee-left{width:100%; padding-top: 0px;}
    .guarantee-right{width:100%; padding-top: 0px;}
    .guarantee-right p{
        //margin-top: 8px;
       // line-height: 20px;
    }
    .rushimg{display:none;}
    .selectedpackage{font-size: 145%; text-align:center; float:none; padding-top: 4px; padding-bottom: 10px;}
    .paddlerow{float:none;text-align: center;}
    .onebottles{padding-bottom: 0px;}
    .threebottles{padding-bottom: 0px;}
    .sixbottles{padding-bottom: 0px;}
    
    .switcher-paddle{font-size:96%; padding-left: 5px; padding-right: 5px;}
    .productdisplayleft{width:100%;}
    .productdisplayright{width:100%;}
    .productname{padding-top: 0px;}
    .callus-mobile{
        display: block;
    }
    .footer{
        width: 100%;
        font-size: 12px;
    }
    .headerPhoneNumber{
        display: none;
    }
}
@media only screen and (min-width: 1px) and (max-width: 400px) {
    .switcher-paddle {
        font-size: 69%;
    }
    .timeout {
        font-size: 100%;
    }
    .callus-mobile{
        font-size: 25px;
    }
}

@media screen and (max-width:767px){

    .kform select.short_select {
        width: 49% !important;
    }
}

