@charset "UTF-8";

hr {
	border-top: 1px solid #d5d5d5;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d5d5d5;
	margin: 0
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 15px;
	line-height: 22px;
	color: #000;
	margin: 0
}

p {
	font-size: 17.5px;
	font-family: 'Helvetica New', sans-serif;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 0;
	margin-right: 0;
	line-height: 115%
}

header {
	padding: 0;
	background-size: cover;
	background-position: center bottom
}

header .logo {
	display: block;
	text-align: center;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 10px
}

header .logo img {
	height: 70px
}

.centered {
	margin: 0 auto !important;
	float: none !important
}

.pageContainer {
	width: 1160px;
	margin: 0 auto
}

.leftDiv {
	float: left;
	width: 216px;
	margin-top: 139px
}

.rightDiv {
	float: right;
	width: 216px;
	margin-top: 139px
}

.centerDiv {
	overflow: hidden;
	width: 912px;
	margin: 0 auto
}

.centerDiv:before,
.leftDiv:before,
.rightDiv:before {
	display: inline-block;
	vertical-align: middle;
	height: 100%
}

.centerInnerDiv,
.leftInnerDiv,
.rightInnerDiv {
	vertical-align: middle
}

.leftInnerDivTop {
	background-color: #333;
	color: #fff;
	font-weight: 700;
	font-size: 21px;
	width: 205px;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px
}

.leftInnerDivTop span {
	display: inline-block;
	vertical-align: middle
}

.topiclines {
	font-size: 15px
}

.vsl-headline {
	font-size: 36px;
	font-weight: 700;
	line-height: 90%
}

.vsl-subheadline {
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px
}

.video {
	width: 95%;
	margin: 0 auto;
	position: relative
}

.click-to-play {
	position: absolute;
	z-index: 9999 !important;
	top: 0px;
	left: 0;
	width: 100%;
	cursor: pointer
}

#container-buy {
	max-width: 800px;
	width: 100%;
	margin: 0px auto 40px;
}

#guarantee {
	clear: right;
	float: right;
	width: 152px;
	height: 167px;
	background-image: url("../images/seal.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	margin-top: 35px;
}

#WFItem2 {
	text-align: center;
	margin-top: 30px
}

form {
	margin: 0 0 20px
}

.field-wrap {
	display: inline-block;
	position: relative;
	width: 350px;
	height: 55px
}

#subscribeEmail {
	padding: 10px 10px !important;
	border: 1px solid #ccc !important
}

input.blinkingcursor {
	font-size: 16px;
	width: 96%;
	font-family: Arial, Helvetica, Sans-Serif;
	background-repeat: no-repeat;
	padding: 2%;
	height: 30px;
	line-height: 30px;
	color: #d3d3d3;
	margin: 3px 0;
	max-width: 280px
}

input.blinkingcursor:focus {
	color: #000
}

#Submit {
	width: 280px !important;
	display: block;
	margin: 0 auto;
	background: url('../images/next_step_button.png') 0 0 no-repeat;
	border: none;
	height: 111px;
	text-indent: -99999px;
	cursor: pointer
}

.btnNextStep {
	background: #ff9100;
	background-image: -webkit-linear-gradient(top, #ff9100, #db6300);
	background-image: -moz-linear-gradient(top, #ff9100, #db6300);
	background-image: -ms-linear-gradient(top, #ff9100, #db6300);
	background-image: -o-linear-gradient(top, #ff9100, #db6300);
	background-image: linear-gradient(to bottom, #ff9100, #db6300);
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	font-family: Arial;
	color: #fff;
	font-size: 25px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	width: 250px;
	text-align: center;
	cursor: pointer
}

.btnNextStep:hover {
	background: #ff9100;
	background-image: -webkit-linear-gradient(top, #ff9100, #ff7300);
	background-image: -moz-linear-gradient(top, #ff9100, #ff7300);
	background-image: -ms-linear-gradient(top, #ff9100, #ff7300);
	background-image: -o-linear-gradient(top, #ff9100, #ff7300);
	background-image: linear-gradient(to bottom, #ff9100, #ff7300);
	text-decoration: none
}

footer {
	display: block;
	background: #fff;
	text-align: center;
	font-size: 12px;
	padding-top: 50px;
	max-width: 980px;
	margin: 0 auto
}

footer p {
	font-size: 12px
}

footer .copyright {
	color: #000;
	text-align: center
}

footer ul.links {
	list-style: none;
	display: block;
	float: none;
	margin: 0 0 12px
}

footer ul.links li {
	display: inline-block;
	padding: 0 8px;
	text-align: center
}

footer ul.links li a {
	text-transform: uppercase;
	color: #703314
}

footer ul.links li a:hover {
	text-decoration: underline;
	color: #703314
}

.mobileOnly {
	display: none
}

.desktopOnly {
	display: block
}

.imgVolume {
	width: 55%;
	margin-top: 20px
}

.audioText {
	margin-top: 5px;
	font-size: 14px;
	margin-right: 35px;
	background-color: #000;
	color: #fff;
	margin-left: 75px;
	border-radius: 3px;
	line-height: 30px;
	font-family: "Comic Sans MS", cursive, sans-serif
}

.infotext {
	padding-top: 15px;
	padding-bottom: 0
}

.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: 0;
	transition: .4s;
	font-size: 16px
}

.accordion::after {
	content: '\002B';
	color: #777;
	font-weight: 700;
	float: right;
	margin-left: 5px
}

.panel {
	padding: 0 18px;
	background-color: #fff;
	max-height: 0;
	overflow: hidden;
	transition: max-height .2s ease-out;
	font-size: 13px
}

@media only screen and (min-width:1px) and (max-width:808px) {
	.pageContainer {
		width: 100%
	}

	.mobileOnly {
		display: block
	}

	.desktopOnly {
		display: none
	}

	.infotext {
		padding-top: 10px;
		padding-bottom: 10px
	}

	.imgVolume {
		width: 95%;
		margin-top: 10px;
		margin-bottom: 0
	}

	.audioText {
		margin-top: 3px;
		font-size: 8px;
		margin-right: 20px;
		background-color: #000;
		color: #fff;
		margin-left: 45px;
		border-radius: 3px;
		line-height: 25px;
		font-family: "Comic Sans MS", cursive, sans-serif
	}

	.blockContainer {
		display: -webkit-box;
		display: -moz-box;
		display: box;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		box-orient: vertical
	}

	.centerDiv {
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		box-ordinal-group: 2
	}

	.rightDiv {
		display: none
	}

	.leftDiv {
		display: none
	}

	.centerDiv {
		overflow: hidden;
		width: 100% !important;
		padding-left: 0
	}

	.vsl-headline {
		text-align: center;
		font-size: 18px;
		line-height: 25px;
		padding-bottom: 12px
	}

	.vsl-subheadline {
		text-align: center;
		font-size: 100%
	}

	#WFItem2 {
		margin-top: 20px
	}

	.field-wrap {
		width: 100%
	}

	.video {
		pointer-events: all
	}

	input.blinkingcursor {
		width: 100%;
		max-width: 250px
	}

	footer ul.links {
		padding-left: 0
	}
}

body {
	background-color: #c3151c
}

@media only screen and (max-width:480px) {

	#footer,
	.centerDiv {
		background-color: #c3151c !important
	}

	.headline {
		color: #fff !important
	}

	.accordion {
		background-color: #c3151c !important;
		color: #fff !important
	}
}

.leftDiv {
	margin-top: 141px
}

.rightDiv {
	margin-top: 141px
}

.preheadline {
	font-size: 36px;
	font-style: italic;
	font-weight: 700;
	line-height: 110%
}

.headline {
	font-size: 44px;
	font-style: normal;
	color: #c00;
	font-weight: 700;
	line-height: 110%;
	margin-bottom: 7px
}

@media (max-width:800px) {
	.preheadline {
		font-size: 18px;
		line-height: 120%
	}

	.headline {
		font-size: 20px;
		max-width: 94%;
		line-height: 120%
	}
}

@media (min-width:800px) {
	.vsl-headline {
		font-size: 39px
	}
}

.landing-wrapper {
	background: #fff;
	color: #000;
	background: #fff;
	padding: 20px 0 0;
	overflow-x: hidden;
	width: 100%;
	max-width: 980px;
	margin: 0 auto
}

#ouibounce-modal {
	z-index: 99999;
}

#ouibounce-modal2 {
	height: 400px !important;
}

.main-pop h1 {
	color: #cc0300;
	font-size: 60px;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 5px;
}

.modal-title {
	position: relative;
	padding: 12px !important;
}

.main-pop h3 {
	text-align: center;
	font-size: 27px !important;
	line-height: 37px;
	font-weight: normal;
	margin-top: -15px;
	color: #000 !important;
}

#stay-btn,
#leave-btn {
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	border: none;
	background: green;
	padding: 12px 25px;
	margin-top: 15px;
	width: 90%;
	cursor: pointer;
}