@charset "UTF-8";

hr {
	border-top: 1px solid #d5d5d5;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d5d5d5;
	margin: 0
}

body {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #000;
	margin: 0
}

p {
	font-size: 16px;
	font-family: Roboto, sans-serif;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0;
	margin-right: 0;
	line-height: 115%
}

header {
	background-color: #fff;
	padding: 10px 0 10px;
	box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .75);
	margin-bottom: 20px;
	height: 58px
}

.pageContainerHeader {
	width: 992px;
	margin: 0 auto;
	position: relative
}

.headerimglogo {
	max-width: 26%;
	position: relative;
	top: 12px
}

.headerimgflag {
	max-width: 25%;
	float: right;
	padding-top: 10px
}

header .logo {
	display: block;
	text-align: center;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 10px
}

header .logo img {
	height: 70px
}

.centered {
	margin: 0 auto !important;
	float: none !important
}

.pageContainer {
	width: 960px;
	margin: 0 auto;
	position: relative
}

h1 {
	color: #333;
	font-size: 34px;
	font-weight: 700
}

h2 {
	color: #ed3237;
	font-size: 30px;
	font-weight: 600
}

h3 {
	color: #333
}

.headline {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 42px;
	font-weight: 500
}

.bestseller {
	color: red;
	font-style: italic;
	font-weight: 700;
	font-size: 150%;
	line-height: 10px;
	padding-bottom: 10px
}

.h1center {
	font-size: 46px;
	font-weight: 700;
	padding-top: 40px
}

.h2center {
	font-size: 43px;
	font-weight: 600
}

.h3moneyback {
	font-size: 100%
}

.h3moneybackcenter {
	font-size: 120%
}

.h3freeShipping {
	color: #006;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 15px
}

.ccimg {
	padding-top: 10px;
	width: 45%
}

.ccimgcenter {
	padding-top: 10px;
	width: 35%
}

.moneybackimg {
	width: 260px;
	margin-bottom: 10px
}

.moneybackimgcenter {
	width: 330px;
	margin-bottom: 10px
}

.addtocartimg {
	width: 230px
}

.addtocartimgcenter {
	width: 280px
}

.upgrade-wrapper>h3 {
	font-size: 36px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 40px;
	clear: both;
	font-weight: 100;
}

.leftDiv {
	min-height: 560px;
	height: auto;
	float: left;
	width: 30%;
	margin-top: 60px;
	padding-top: 20px;
	border-top-left-radius: 40px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-style: solid;
	border-top-width: 2px;
	border-right-color: initial;
	border-right-style: initial;
	border-right-width: 0;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-left-style: solid;
	border-left-width: 2px;
	background-color: #fff
}

.rightDiv {
	min-height: 560px;
	height: auto;
	float: right;
	width: 30%;
	margin-top: 60px;
	padding-top: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-style: solid;
	border-top-width: 2px;
	border-right-style: solid;
	border-right-width: 2px;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-left-color: initial;
	border-left-style: initial;
	border-left-width: 0;
	background-color: #fff
}

.centerDiv {
	min-height: 670px;
	height: auto;
	overflow: hidden;
	width: 39.16%;
	padding-top: 10px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-style: solid;
	border-top-width: 2px;
	border-right-style: solid;
	border-right-width: 2px;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-left-style: solid;
	border-left-width: 2px;
	background-color: #fff
}

.leftDiv:before,
.rightDiv:before {
	content: "";
	position: absolute
}

.centerDiv:before {
	content: "";
	position: absolute;
	top: -1px;
	left: -10px;
	background: url("../images/best-seller2-min.png") no-repeat;
	width: 121px;
	height: 116px
}

.centerDiv,
.leftDiv,
.rightDiv {
	vertical-align: middle;
	text-align: center;
	position: relative
}

.onebottlesimg {
	width: 39%
}

.threebottlesimg {
	width: 80%
}

.sixbottlesimg {
	width: 95%
}

.vsl-headline {
	font-size: 36px;
	font-weight: 700;
	line-height: 80%
}

.vsl-subheadline {
	font-size: 120%;
	padding-top: 10px
}

.video {
	width: 100%
}

.btnNextStep {
	background: #ff9100;
	background-image: -webkit-linear-gradient(top, #ff9100, #db6300);
	background-image: -moz-linear-gradient(top, #ff9100, #db6300);
	background-image: -ms-linear-gradient(top, #ff9100, #db6300);
	background-image: -o-linear-gradient(top, #ff9100, #db6300);
	background-image: linear-gradient(to bottom, #ff9100, #db6300);
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	font-family: Arial;
	color: #fff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	width: 150px;
	text-align: center;
	cursor: pointer;
	margin: 0 auto;
	box-shadow: 2px 2px #888
}

.btnNextStep:hover {
	background: #ff9100;
	background-image: -webkit-linear-gradient(top, #ff9100, #ff7300);
	background-image: -moz-linear-gradient(top, #ff9100, #ff7300);
	background-image: -ms-linear-gradient(top, #ff9100, #ff7300);
	background-image: -o-linear-gradient(top, #ff9100, #ff7300);
	background-image: linear-gradient(to bottom, #ff9100, #ff7300);
	text-decoration: none
}

.guarantee-box {
	border: 1px solid;
	border-color: #000;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	padding: 8px 8px 8px 8px;
	background-color: #fff;
	margin-top: 40px
}

.guarantee-box::AFTER {
	content: "";
	display: table;
	clear: both
}

.guarantee-title {
	font-weight: 700;
	font-size: 160%;
	padding-bottom: 5px
}

.guarantee-left {
	width: 20%;
	float: left
}

.guarantee-right {
	width: 78%;
	float: left;
	font-size: 16px;
	padding-top: 20px
}

.guarantee-text {
	font-size: 108%;
	line-height: 130%
}

.yellowMessage {
	border: 1px solid;
	border-color: #b7a75b;
	border-bottom-style: solid;
	padding: 8px 15px 15px 15px;
	background-color: #fff0a8;
	margin-top: 40px
}

.yellowMessage p {
	font-size: 18px;
	line-height: 24px
}

.yellowMessage h3 {
	margin: 15px 0
}

@media only screen and (max-width:979px) {
	.yellowMessage p {
		font-size: 14px;
		line-height: 18px
	}

	.yellowMessage h3 {
		margin: 8px 0;
		font-size: 16px
	}
}

footer {
	display: block;
	background: #fff;
	padding: 40px 0;
	text-align: center;
	font-size: 12px
}

footer p {
	font-size: 12px
}

footer .copyright {
	color: #000;
	text-align: center
}

footer ul.links {
	list-style: none;
	display: block;
	float: none;
	margin: 0 0 12px
}

footer ul.links li {
	display: inline-block;
	padding: 0 8px;
	text-align: center
}

footer ul.links li a {
	text-transform: uppercase;
	color: #006
}

footer ul.links li a:hover {
	text-decoration: underline;
	color: #703314
}

@media only screen and (min-width:1px) and (max-width:808px) {
	header {
		text-align: center
	}

	.pageContainerHeader {
		max-width: 100%;
		margin: 0 auto;
		position: relative;
		font-family: Arial
	}

	.headerimglogo {
		max-width: 170px
	}

	.headerimgflag {
		display: none
	}

	.pageContainer {
		width: 100%
	}

	.vsl-headline {
		text-align: center
	}

	.vsl-subheadline {
		text-align: center
	}

	.headline {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 25px;
		padding-right: 25px;
		line-height: 120%;
		font-size: 180%
	}

	.h2center {
		font-size: 180%
	}

	.leftDiv {
		height: auto;
		float: none;
		margin: 0 auto;
		width: 85%;
		margin-top: 20px;
		padding-top: 20px;
		border-top-right-radius: 40px;
		border-right-style: solid;
		border-right-width: 2px
	}

	.rightDiv {
		height: auto;
		float: none;
		margin: 0 auto;
		width: 85%;
		margin-top: 50px;
		padding-top: 20px;
		border-top-left-radius: 40px;
		border-left-style: solid;
		border-left-width: 2px
	}

	.centerDiv {
		height: auto;
		float: none;
		margin: 0 auto;
		overflow: hidden;
		width: 85%;
		margin-top: 50px;
		padding-top: 20px;
		min-height: 580px
	}

	#product1,
	#product3,
	#product6 {
		margin: 0 auto
	}

	.moneybackimg {
		margin-bottom: 10px
	}

	.moneybackimgcenter {
		width: 260px;
		margin-bottom: 10px
	}

	.addtocartimgcenter {
		width: 230px
	}

	.guarantee-box {
		width: 85%;
		margin: 0 auto;
		margin-top: 50px;
		padding: 0
	}

	.sealimg {
		padding-top: 10px
	}

	.guarantee-title {
		text-align: center;
		font-size: 130%;
		padding-bottom: 15px
	}

	.guarantee-left {
		float: none;
		width: 90%;
		margin: 0 auto;
		padding-top: 5px
	}

	.guarantee-right {
		float: none;
		width: 90%;
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center
	}

	footer ul.links {
		padding-left: 0
	}
}

.mcafeesecure-body-noscroll {
	overflow: hidden !important
}

.button,
button,
input[type=button],
input[type=submit] {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0 auto
}

.addtocartimg,
.addtocartimgcenter {
	cursor: pointer !important;
}